.navWrapper {
  @apply relative hidden md:flex z-auto; // flex items-center justify-center;
  ul {
    @apply m-0 p-0 flex list-none justify-center;
  }
}

.navWrapper .dropdown {
  @apply overflow-hidden p-3;
  transition: all 0.3s;
  will-change: transform;
}

.dropdownBackground {
  width: auto;
  height: auto;
  --siteMenuRotateX: -15deg;
  perspective: 2000px;
  @apply absolute rounded-lg opacity-0 hidden top-[60px] left-[50%];
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.31);
  transform: translateX(-50%) rotateX(var(--siteMenuRotateX));
  transform-origin: 50% -50px;
  transition-duration: 250ms;
  transition-property: rotateX, width, height;
  will-change: rotateX, width, height;
  &:global(.open) {
    --siteMenuRotateX: 0;
    display: block;
    opacity: 1;
  }
  :global {
    div#dropdown-container {
      @apply relative bg-neutral-750 border border-neutral-700/30 h-full rounded-lg min-h-[12.5rem];
      &::before {
        content: "";
        @apply absolute top-0 left-0 bg-neutral-725 h-11 w-full;
      }
    }
  }
}

.arrow {
  @apply absolute hidden bg-neutral-725 border-t border-l border-neutral-700/30;
  width: 15px;
  height: 15px;
  transform: translateY(-100%) rotate(45deg);
  transition: translateY 0.3s 0.3s, left 0.3s, display 0.5s;
  border-radius: 2px 0px;
  &:global(.open) {
    @apply block;
  }
}

.navList > li {
  @apply relative flex;

  &:global(.trigger-enter-active) .dropdown {
    opacity: 1;
  }
}

.headerPopover {
  @apply rounded-md inline-flex items-center text-sm font-medium focus:outline-none;
  @apply ease-in-out;
}

.floatingContent {
  @apply transform w-max;
  overflow-y: auto;
}

.triggerEnter {
  &.trigger-enter-active .floatingContent .dropdown {
    @apply opacity-100;
  }
}

.navBarContainer {
  @apply text-neutral-0 bg-neutral-900 shadow-header_bottom bg-opacity-[0.11] h-full sticky top-0 z-50 ease-in-out duration-300 backdrop-blur-md;
  &:global(.scrolled) {
    @apply bg-neutral-900/50;
  }
}

.menuItem {
  &:hover > div > div {
    @apply text-white;
  }
  @apply py-2 md:px-3 rounded flex gap-4 items-center w-full hover:bg-neutral-725 hover:text-primary-900;

  &[data-icon="true"] {
    @apply flex py-1 md:py-2 md:px-3 cursor-pointer items-center;
  }
}

.banner {
  @apply w-full text-center bg-primary-300 text-primary-900 text-sm py-1 pl-4 pr-8 sm:pr-4 font-medium;
  :global(a) {
    @apply no-underline cursor-pointer w-full #{!important};
    &:hover {
      @apply text-primary-700 #{!important};
    }
  }
  &:hover {
    @apply text-primary-700 cursor-pointer;
  }
}
