.terminalData {
  @apply block whitespace-pre-wrap text-sm font-bold font-inconsolata w-full relative pl-4;
  p {
    @apply inline;
  }

  :global .line::before {
    @apply absolute text-left text-slate-500 left-0;
    content: "$";
    width: 0.875rem;
  }
  &[data-type="decimal"] {
    @apply pl-[38px];
    counter-reset: line-numbering;
    :global .line::before {
      @apply text-right;
      content: counter(line-numbering);
      counter-increment: line-numbering;
    }
  }
}

.terminalHeader {
  @apply py-3 px-4 text-primary-50 flex items-center gap-4 text-base font-bold rounded h-11;
  &[data-terminal="false"] {
    @apply relative px-6;
    background: #171804;
    &::before {
      content: "";
      background-image: url("/noise.png");
      @apply bg-cover absolute inset-0 opacity-5;
    }
  }
  &[data-controls="false"] {
    @apply px-4;
  }
}
