<div class="cookies_consent_window">
  <div class="text_container">
    <div class="title">We value your privacy</div>
    <div class="content">
      We use cookies to enhance your browsing experience, serve personalized ads or content, and analyze our traffic.
      By clicking “Accept”, you consent to our use of cookies. Cookie Policy
    </div>
  </div>
  <div class="button_container">
    <button class="consent_button accept_button" (click)="choseConsnet(true)">Accept</button>
    <button class="consent_button reject_button" (click)="choseConsnet(false)">Reject</button>
  </div>
</div>
