@import 'colors';
@import 'mixins';

.careers {
  .hero {
    padding: 70px 0;

    .title_container {
      text-align: center;
      margin-bottom: 64px;

      .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 16px;
      }

      .description {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $fg3;
      }
    }

    .image_container {
      display: flex;
      height: 284px;
      width: 100%;
      overflow: hidden;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 70px;
      position: relative;

      .image {
        &:not(:last-child) {
          margin-right: 7px;
        }
      }
    }

    .paragraph_container {
      .title {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 24px;
      }

      .description {
        white-space: pre-wrap;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Inter', sans-serif;
        max-width: 1017px;
      }
    }
  }

  .company_values_section {
    padding: 70px 0;
    background: $bg2;

    .company_values {
      .company_value {
        display: flex;
        text-align: left;

        &:not(:last-child) {
          margin-bottom: 110px;
        }

        @include customBreakpointCss('max-width: 890px') {
          display: block;

          &:not(:last-child) {
            margin-bottom: 38px;
          }
        }

        &:nth-child(even) {
          direction: rtl;
        }

        .text_wrapper {
          flex: 0 0 60%;
          direction: ltr;

          .title {
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 24px;
          }

          .description {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            white-space: pre-wrap;
            color: $fg3;
          }
        }

        .icon_wrapper {
          flex: 0 0 40%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include customBreakpointCss('max-width: 890px') {
            display: none;
          }

          .icon {
            height: auto;
            width: 45%;
          }
        }
      }
    }
  }

  .positions_and_metadata {
    padding: 70px 0;

    .section_title {
      margin-bottom: 59px;
    }

    .filters_and_positions {
      display: flex;

      @include customBreakpointCss('max-width: 840px') {
        display: block;
      }

      .filters_container {
        flex: 0 0 260px;
        margin-right: 65px;
        @include customBreakpointCss('max-width: 890px') {
          margin-bottom: 38px;
          margin-right: 0;
        }

        .search_container {
          width: 100%;
          position: relative;
          border-radius: 8px;
          display: flex;
          align-items: center;
          margin-bottom: 69px;

          @include customBreakpointCss('max-width: 890px') {
            margin-bottom: 30px;
          }

          .icon_wrapper {
            position: absolute;
            left: 15px;
            top: 0;
            height: 100%;
            width: 12px;
            z-index: 10;
            display: flex;
            align-items: center;

            .icon {
              width: 12px;
              height: 12px;
              line-height: 0;
            }
          }

          .search_input {
            padding-left: 40px;
            width: 100%;
          }
        }

        .title_and_filters {
          &:not(:last-child) {
            margin-bottom: 24px;
          }

          .title {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 16px;
          }

          .filters {
            .filter {
              cursor: pointer;
              font-weight: 600;
              font-size: 12px;
              line-height: 18px;
              color: $fg3;
              padding: 11px 16px;
              box-sizing: border-box;
              width: 100%;
              border-radius: 8px;
              transition: filter 300ms;
              background: $bg1;

              &:hover {
                filter: brightness(0.9);
              }

              &.active {
                background: $primary;
                color: #2F2C3A;
                cursor: default;
                filter: brightness(1);
              }
            }
          }
        }
      }

      .department_and_positions {
        flex: 1 1 auto;

        &:not(:last-child) {
          margin-bottom: 70px;
        }

        .department {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 32px;
          padding-left: 15px;
        }

        .no_results {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          padding-left: 14px;
        }

        .positions {
          .position {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            border-bottom: 1px solid $bg2;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $bg1;
            padding: 15px;
            transition: filter 300ms;

            &:hover {
              filter: brightness(0.9);
              border-bottom: 1px solid transparent;
            }

            .title {
              margin-bottom: 8px;
            }

            .offices {
              color: $fg3;
            }
          }
        }
      }
    }

  }
}
