@import 'colors';
@import 'mixins';

.careers {
  .hero {
    padding: 70px 0;

    .title_container {
      text-align: center;
      margin-bottom: 64px;

      .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 16px;
      }

      .description {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $fg3;
      }
    }

    .image_container {
      display: flex;
      height: 284px;
      width: 100%;
      overflow: hidden;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 70px;
      position: relative;

      .image {
        &:not(:last-child) {
          margin-right: 7px;
        }
      }
    }

    .paragraph_container {
      .title {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 24px;
      }

      .description {
        white-space: pre-wrap;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Inter', sans-serif;
        max-width: 1017px;
      }
    }
  }
}
