$mask-width: 100px;

.maskCarousel {
  :global {
    .carousel-container {
      position: relative;
      mask: {
        image: linear-gradient(
          90deg,
          rgba(#000, 0) 0%,
          rgba(#000, 1) #{$mask-width},
          rgba(#000, 1) calc(100% - #{$mask-width}),
          rgba(#000, 0) 100%
        );
        size: calc(100% + #{$mask-width * 2}) 100%;
        position: center;
      }
      transition: mask-size 0.4s;
    }
  }

  @media (hover: hover) {
    &:hover {
      :global {
        .carousel-container {
          mask-size: 100% 100%;
        }
      }
    }
  }
}

.customSwiperStyles {
  :global {
    .swiper-wrapper {
      align-items: center;
    }
  }
}
