<div class="items">
  <div *ngFor="let item of screenshotAndBulletsList; trackBy: trackById" class="item">
    <div class="metadata">
      <div class="title">{{item.title}}</div>
      <div class="description">{{item.description}}</div>
      <div *ngFor="let bullet of item.bullets" class="bullets">
        <div class="bullet">
          <mat-icon class="icon" svgIcon="check_icon"></mat-icon>
          {{bullet.text}}</div>
      </div>
    </div>
    <div class="screenshot_container">
      <img [src]="item.screenshotPng | strapiImageUrl: 'medium'" alt="image" class="screenshot"/>
    </div>
  </div>
</div>
