@import 'colors';
@import 'mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 64px;
  width: 100%;
  background: rgba($headerBg, 0.8);
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  .container {
    display: flex;
    align-items: center;
    height: 100%;

    .logo_container {
      flex: 0 0 170px;
      display: flex;
      align-items: center;

      .icon {
        background-size: contain;
        background-repeat: no-repeat;
        width: 34px;
        height: 34px;
        margin-right: 12px;
      }

      .text {
        font-family: "Hind Siliguri", sans-serif;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
      }
    }

    .nav_container {
      flex: 1 1 auto;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      // Top nav item
      & > * {
        @extend .opacity_transition;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;

        &:not(:last-child) {
          margin-right: 40px;
        }
      }

      .top_level_item_with_submenu {
        cursor: pointer;

        .menu_arrow {
          width: 10px;
          height: 6px;
          position: relative;
          top: -1px;
          margin-left: 8px;
        }
      }
    }

    .buttons_container {
      flex: 0 0 220px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .moon, .sun {
        cursor: pointer;
        @extend .opacity_transition;

        &.active {
          opacity: 0.7;
          cursor: default;
        }
      }

      .sun {
        width: 14px;
        height: 21px;
        margin-right: 16px;
      }

      .moon {
        width: 14px;
        height: 18px;
      }

      .cta_button {
        margin-left: 24px;
      }
    }
  }
}


.sub_menu {
  .sub_menu_item {
    opacity: 1;
    display: block;
    transition: background 300ms;

    &:hover {
      background: $bg2;
    }


    &.menu_with_icon_item {
      height: 96px;
      width: 446px;
      display: flex;

      .icon_wrapper {
        flex: 0 0 81px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          position: relative;
          top: -10px;
          color: $fg3;
          width: 34px;
          height: 34px;
        }
      }


      .menu_data {
        flex: 1 1 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  &.menu_with_item_list {
    padding-top: 8px;
    padding-bottom: 8px;

    .sub_menu_item {
      height: 36px;
      padding-left: 24px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      min-width: 206px;
    }
  }
}


