@import 'colors';
@import 'mixins';

.top_banner {
  position: fixed;
  top: 0;
  background: $primary;
  color: $constDark;
  display: flex;
  width: 100%;
  text-align: center;
  height: 24px;
  z-index: 20;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 500;

  & > .text {
    text-align: center;
    width: 100%;

    a {
      color: $constDark;
      cursor: pointer!important;
  
      &:hover {
        text-decoration: underline;
        cursor: pointer!important;
      }
    }
  }

  @include customBreakpointCss('max-width: 768px') {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 64px;
  width: 100%;
  background: rgba($headerBg, 0.8);
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  & > .container {
    display: flex;
    align-items: center;
    height: 100%;

    .logo_container {
      flex: 0 0 170px;
      display: flex;
      align-items: center;

      .icon {
        background-size: contain;
        background-repeat: no-repeat;
        width: 34px;
        height: 34px;
        margin-right: 12px;
      }

      .text {
        font-family: "Hind Siliguri", sans-serif;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
      }
    }

    .nav_container {
      flex: 1 1 auto;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      // Top nav item
      & > * {
        @extend .opacity_transition;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;

        &:not(:last-child) {
          margin-right: 40px;
        }
      }

      .top_level_menu_item_container {
        @include customBreakpointCss('max-width: 890px') {
          display: none;
        }
      }

      .top_level_item_with_submenu {
        cursor: pointer;

        .menu_arrow {
          width: 10px;
          height: 6px;
          position: relative;
          top: -1px;
          margin-left: 8px;
          line-height: 0;
        }
      }
    }

    .buttons_container {
      @include customBreakpointCss('max-width: 890px') {
        display: none;
      }
      flex: 0 0 220px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .moon, .sun {
        cursor: pointer;
        @extend .opacity_transition;

        &.active {
          opacity: 0.7;
          cursor: default;
        }
      }

      .sun {
        width: 14px;
        height: 21px;
        margin-right: 16px;
      }

      .moon {
        width: 14px;
        height: 18px;
      }

      .cta_button {
        margin-left: 24px;
      }
    }

    .hamburger_menu_button {
      display: none;
      @include customBreakpointCss('max-width: 890px') {
        display: block;
      }
    }

    .mobile_menu {
      position: absolute;
      width: calc(100% - 16px);
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      background: $bg1;
      border-radius: 8px;
      padding: 32px 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 6px 4px -4px rgba(0, 0, 0, 0.1);

      .close_button {
        position: absolute;
        top: 5px;
        right: 25px;
      }

      .items_with_icons {
        .item_with_icon {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 24px;
          }

          .icon {
            text-align: left;
            margin-right: 24px;
            width: 32px;
            height: 32px;
          }
        }
      }

      .regular_items {
        .container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 16px;
        }
      }

      .separator {
        width: 100%;
        height: 1px;
        background: $bg2;
        margin-top: 32px;
        margin-bottom: 32px;
      }

      .cta_button_container {
        margin-top: 24px;

        .cta_button {
          display: block;

          .primary_button {
            width: 100%;
          }
        }
      }
    }
  }
}


.sub_menu {
  .sub_menu_item {
    opacity: 1;
    display: block;
    transition: background 300ms;

    &:hover {
      background: $bg2;
    }


    &.menu_with_icon_item {
      height: 96px;
      width: 446px;
      display: flex;

      .icon_wrapper {
        flex: 0 0 81px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          position: relative;
          top: -10px;
          color: $fg3;
          width: 34px;
          height: 34px;
        }
      }


      .menu_data {
        flex: 1 1 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3px;

        .description {
          color: $fg3;
          font-size: 14px;
        }
      }
    }
  }

  &.menu_with_item_list {
    padding-top: 8px;
    padding-bottom: 8px;

    .sub_menu_item {
      height: 36px;
      padding-left: 24px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      min-width: 206px;
    }
  }
}


