<div class="top_banner">
  <div class="text">
    <a href='/company/events/cloud-beta?loc=banner'>
      Oct 27, 2022: Introducing ClickHouse Cloud Webinar - Register now
    </a>
  </div>
</div>

<div *ngIf="headerDataPromise | async as headerData" class="header">
  <div class="container">
    <a class="logo_container" href="/">
      <mat-icon [svgIcon]="headerData.logoIcon.hash" class="icon"></mat-icon>
      <div class="text">ClickHouse</div>
    </a>

    <div class="nav_container">
      <div *ngFor="let topMenuItem of headerData.menuItems; trackBy: trackById"
           class="top_level_menu_item_container">
        <a *ngIf="!topMenuItem.menuItems.length"
           [href]="topMenuItem.href"
           [target]="topMenuItem.target"
           (click)="segmentService.trackGaEvent('click', topMenuItem.name, 'website-nav')"

           class="top_level_item_without_submenu">
          {{topMenuItem.name}}
        </a>
        <div
          *ngIf="topMenuItem.menuItems.length"
          [matMenuTriggerFor]="subMenu" class="top_level_item_with_submenu">
          {{topMenuItem.name}}
          <mat-icon class="menu_arrow" svgIcon="menu_arrow"></mat-icon>
        </div>
        <mat-menu #subMenu="matMenu" xPosition="after">
          <div *ngIf="isMenuWithIcons(topMenuItem)" class="sub_menu menu_with_icons">
            <a *ngFor="let subMenuItem of topMenuItem.menuItems"
               [href]="subMenuItem.href"
               [target]="subMenuItem.target"
               (click)="segmentService.trackGaEvent('click', subMenuItem.name, 'website-nav')"
               class="sub_menu_item menu_with_icon_item">
              <div class="icon_wrapper">
                <mat-icon [svgIcon]="subMenuItem.icon!.hash" class="icon"></mat-icon>
              </div>

              <div class="menu_data">
                <div class="name">{{subMenuItem.name}}</div>
                <div class="description">{{subMenuItem.description}}</div>
              </div>
            </a>

          </div>

          <div *ngIf="!isMenuWithIcons(topMenuItem)" class="sub_menu menu_with_item_list">
            <a
              *ngFor="let subMenuItem of topMenuItem.menuItems"
              [href]="subMenuItem.href"
              [target]="subMenuItem.target"
              (click)="segmentService.trackGaEvent('click', subMenuItem.name, 'website-nav')"
              class="sub_menu_item">
              {{subMenuItem.name}}
            </a>
          </div>
        </mat-menu>
      </div>
    </div>

    <div *ngIf="themeObs | async as theme" class="buttons_container">
      <mat-icon (click)="switchTheme('light');" [ngClass]="{active: theme === 'light'}" class="sun"
                svgIcon="sun"></mat-icon>
      <mat-icon (click)="switchTheme('dark')" [ngClass]="{active: theme === 'dark'}" class="moon"
                svgIcon="moon"></mat-icon>
      <a *ngIf="headerData.ctaButton as ctaButton"
         [href]=ctaButton.href
         [target]="ctaButton.target"
         (click)="segmentService.trackGaEvent('click', ctaButton.text, 'website-nav')"
         class="cta_button">
        <button class="primary_button">{{ctaButton.text}}</button>
      </a>
    </div>

    <button (click)="toggleMobileMenu()" class="hamburger_menu_button" mat-icon-button>
      <mat-icon class="icon" svgIcon="hamburger_menu"></mat-icon>
    </button>

    <div *ngIf="mobileMenuVisible" class="mobile_menu">
      <button (click)="toggleMobileMenu()" class="close_button" mat-icon-button>
        <mat-icon class="icon" svgIcon="x_icon"></mat-icon>
      </button>

      <div class="items_with_icons">
        <div class="container">
          <a (click)="toggleMobileMenu()"
             *ngFor="let item of getMenuItemsWithIcons(headerData.menuItems); trackBy: trackById"
             [href]="item.href"
             [target]="item.target"
             class="item_with_icon">
            <mat-icon [svgIcon]="item.icon!.hash" class="icon"></mat-icon>
            {{item.name}}
          </a>
        </div>
      </div>
      <div class="separator"></div>
      <div class="regular_items">
        <div class="container">
          <a (click)="toggleMobileMenu()"
             *ngFor="let item of getRegularMenuItems(headerData.menuItems); trackBy: trackById"
             [href]="item.href"
             [target]="item.target"
             class="regular_item">
            {{item.name}}
          </a>
        </div>
      </div>
      <div class="container cta_button_container">
        <a (click)="toggleMobileMenu()"
           *ngIf="headerData.ctaButton as ctaButton"
           [href]=ctaButton.href
           [target]="ctaButton.target"
           class="cta_button">
          <button class="primary_button">{{ctaButton.text}}</button>
        </a>
      </div>

      <div>

      </div>
    </div>
  </div>
</div>
