@import 'colors';
@import 'mixins';

.footer {
  padding: 58px 0;
  background: $bg2;

  & > .container {
    position: relative;
    display: flex;
    height: 100%;
  }

  .left {
    flex: 1 1 auto;

    .menu_container {
      display: flex;
      justify-content: space-between;

      @include customBreakpointCss('max-width: 890px') {
        display: block;
      }

      .top_menu {
        @include customBreakpointCss('max-width: 890px') {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }

        .title {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 24px;
          @include customBreakpointCss('max-width: 890px') {
            margin-bottom: 16px;
            font-size: 12px;
          }
        }

        .links {
          @include customBreakpointCss('max-width: 890px') {
            display: flex;
            flex-flow: row wrap;
          }

          .footer_link {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;

            @include customBreakpointCss('max-width: 890px') {
              &:not(:last-child) {
                margin-right: 16px;
              }

              font-weight: 400;
              font-size: 12px;
            }

            &:hover {
              text-decoration: underline;
            }

            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }
        }
      }
    }

    .footer_logo_and_copyright {
      display: flex;
      align-items: flex-start;
      margin-top: 40px;

      @include customBreakpointCss('max-width: 890px') {
        display: block;
      }

      .logo_container {
        display: flex;
        align-items: center;
        margin-right: 43px;
        @include customBreakpointCss('max-width: 890px') {
          margin-bottom: 16px;
        }

        .icon {
          background-size: contain;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
          margin-right: 12px;
        }

        .text {
          font-family: "Hind Siliguri", sans-serif;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
        }
      }

      .bottom_links_container {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #F6F7FA;

        .licensing_text {
          margin-bottom: 12px;
        }

        .copyright_and_bottom_links {
          display: flex;
          align-items: center;

          @include customBreakpointCss('max-width: 600px') {
            flex-direction: column;
            justify-content: center;
          }

          .copyright {
            margin-right: 12px;
            @include customBreakpointCss('max-width: 600px') {
              margin-right: 0;
              margin-top: 12px;
              margin-bottom: 12px;
            }
          }

          .bottom_links {
            display: flex;

            .bottom_link {
              color: #F6F7FA;

              &:hover {
                text-decoration: underline;
              }

              &:not(:last-child) {
                padding-right: 6px;
                margin-right: 6px;
                border-right: 1px solid #6D7386;
              }
            }
          }
        }
      }
    }
  }

  .separator {
    position: relative;
    background: #585367;
    width: 1px;
    margin-left: 94px;
    margin-right: 70px;
    transform: translateY(-23px);
    @include customBreakpointCss('max-width: 890px') {
      display: none;
    }
  }

  .right {
    @include customBreakpointCss('max-width: 890px') {
      display: none;
    }

    .newsletter_form {
      margin-bottom: 24px;

      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
      }

      .description {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 16px;
      }

      .input_and_button_container {
        display: flex;
        align-items: center;

        .email_input {
          height: 41px;
          padding: 0 10px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          outline: none;
          margin-right: 6px;
          background-color: $bg1;
        }

        .primary_button {
          height: 43px;
        }
      }
    }

    .social_links_container {
      .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 16px;
      }

      .social_links {
        display: flex;

        .social_link {
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          background: #443F51;
          border: 1px solid #585367;
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.03);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: opacity 300ms;

          &:hover {
            opacity: 0.7;
          }

          &:not(:last-child) {
            margin-right: 12px;
          }

          .icon {
            width: 21px;
            height: 21px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
