<div *ngIf="footerDataPromise | async as footerData" class="footer dark">
  <div class="container">
    <div class="left">
      <div class="menu_container">
        <div *ngFor="let topMenu of footerData.topLevelFooterMenu" class="top_menu">
          <div class="title">{{topMenu.title}}</div>
          <div class="links">
            <a (click)="segmentService.trackGaEvent('click', footerLink.name, 'website-nav')"
               *ngFor="let footerLink of topMenu.items"
               [href]="footerLink.href"
               [target]="footerLink.target"
               class="footer_link">
              {{footerLink.name}}
            </a>
          </div>
        </div>
      </div>
      <div class="footer_logo_and_copyright">
        <div class="logo_container">
          <mat-icon [svgIcon]="footerData.logoSvg.hash" class="icon"></mat-icon>
          <div class="text">ClickHouse</div>
        </div>
        <div class="bottom_links_container">
          <div class="licensing_text">{{footerData.licensingText}}</div>
          <div class="copyright_and_bottom_links">
            <div class="copyright">{{footerData.copyright}}</div>
            <div class="bottom_links">
              <a *ngFor="let bottomLink of footerData.bottomLinks"
                 [href]="bottomLink.href"
                 [target]="bottomLink.target"
                 (click)="segmentService.trackGaEvent('click', bottomLink.text, 'website-nav')"
                 class="bottom_link">
                {{bottomLink.text}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="right">
      <div *ngIf="footerData.newsletterForm as newsletterForm" class="newsletter_form">
        <div class="title">{{newsletterForm.title}}</div>
        <div class="description">{{newsletterForm.description}}</div>
        <div class="input_and_button_container">
          <input [(ngModel)]="newsletterEmail" [placeholder]="newsletterForm.inputLabel" class="email_input seed_input"
                 type="email"/>
          <button (click)="submitNewsletterForm()" class="primary_button">{{newsletterForm.buttonLabel}}</button>
        </div>
      </div>
      <div *ngIf="footerData.socialLinks as socialLinks" class="social_links_container">
        <div class="title">{{socialLinks.title}}</div>
        <div class="social_links">
          <a *ngFor="let socialLink of socialLinks.socialLinkItems"
             [href]="socialLink.href"
             [target]="socialLink.target"
             class="social_link">
            <div [strapiCssImage]="socialLink.iconSvg" class="icon"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
