<div *ngIf="event" class="event_page">
  <div class="hero">

    <div *ngIf="showVimeoVideo && (!event.eventEnded || event.form.type === 'recordedGatedContent')">
      <div class="top">
      <div class="video_display">
        <iframe [src]="getSafeVimeoUrl(event)" allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen="allowfullscreen" data-ready="true" frameborder="0" height="545"
          loading="lazy" width="968">
        </iframe>
      </div>
      </div>
    </div>

    <div class="container">

      <div [ngClass]="{ 'no_form': event.eventEnded && event.form.type !== 'recordedGatedContent' }" class="left">
        <div class="section_metadata">
          <div class="pretitle">{{event.category}}</div>
          <div class="title">{{event.title}}</div>
          <div *ngIf="!event.richDescription" class="description">{{event.description}}</div>
          <div *ngIf="event.richDescription" class="description" [innerHTML]="event.richDescription | markdown"></div>
        </div>

        <div *ngIf="event.hostedBy as hostedBy" class="hosted_by">
          <div class="title">{{hostedBy.title}}</div>
          <div class="hosts">
            <div *ngFor="let host of hostedBy.hosts" class="host">
              <div [strapiCssImage]="host.avatarPng" class="avatar"></div>
              <div class="content">
                <div class="name">{{host.name}}</div>
                <div class="role">{{host.role}}</div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="event.agenda as agenda" class="agenda">
          <div class="title">{{agenda.title}}</div>
          <div class="agenda_items">
            <div *ngFor="let agendaItem of agenda.items" class="agenda_item">
              <div class="time">{{agendaItem.time}}</div>
              <div class="topic">{{agendaItem.topic}}</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="event.form && (!event.eventEnded || event.form.type === 'recordedGatedContent')" class="right">

        <div *ngIf="showVimeoVideo" class="subscribed">
          <div class="success-container">
            <div class="success_icon"><mat-icon class="icon"  svgIcon="check_icon"></mat-icon></div>
            <div class="success_text">
              <p>Successfully subscribed to event</p>
              <p class="mobile-hint">(scroll up to view)</p>
            </div>
          </div>
        </div>

        <form (ngSubmit)="onSubmit().then()" *ngIf="form && !showVimeoVideo" [formGroup]="form" class="form">
          <div *ngIf="event.form.type === 'eventRegistration'" class="seed_form_element">
            <label class="seed_label">{{event.form.firstNameLabel}}</label>
            <input class="seed_input" formControlName="firstName" name="firstName" type="text">
            <div *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched" class="seed_error">
              Invalid first name
            </div>
          </div>

          <div *ngIf="event.form.type === 'eventRegistration'" class="seed_form_element">
            <label class="seed_label">{{event.form.lastNameLabel}}</label>
            <input class="seed_input" formControlName="lastName" name="lastName" type="text">
            <div *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].touched" class="seed_error">
              Invalid last name
            </div>
          </div>

          <div class="seed_form_element">
            <label class="seed_label">{{event.form.emailLabel}}</label>
            <input class="seed_input" formControlName="email" name="email" type="email">
            <div *ngIf="!form.controls['email'].valid && form.controls['email'].touched" class="seed_error">
              Invalid e-mail address
            </div>
          </div>

          <button [disabled]="serverCallInProgress"
                  class="submit_button primary_button">{{event.form.submitButtonLabel}}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="recent_events">
    <div class="container">
      <recent-events [allEvents]="allEvents" [excludeEventId]="event.id"></recent-events>
    </div>
  </div>
  <getting-started></getting-started>
</div>
