<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="homepageDataPromise | async as homepageData" class="homepage">
    <ng-container *ngIf="homepageData.hero as hero">
      <div class="hero">
        <div class="background_overlay"></div>
        <div [strapiCssImage]="theme === 'dark' ? hero.darkBackgroundIconUrl : hero.lightBackgroundIconUrl"
             class="background_icon"></div>
        <div class="container">
          <div [innerHTML]="hero.title" class="title"></div>
          <div class="description">{{hero.description}}</div>
          <a *ngIf="hero.ctaButton as ctaButton"
             [href]=ctaButton.href
             [target]="ctaButton.target"
             class="cta_button">
            <button class="primary_button">{{ctaButton.text}}</button>
          </a>
        </div>
        <div class="hero_highlights">
          <div class="container">
            <div *ngFor="let highlight of hero.highlights" class="hero_highlight">
              <div class="title">{{highlight.title}}</div>
              <div class="separator"></div>
              <div class="description">{{highlight.description}}</div>
              <a [href]="highlight.href" [target]="highlight.target" class="cta_button">
                <button class="empty_button">{{highlight.buttonText}}
                  <mat-icon class="icon" svgIcon="right_arrow"></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>


    </ng-container>
  </div>
</ng-container>
