@import 'colors';
@import 'mixins';

.section_button {
  align-self: center;

  .empty_button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    .icon {
      margin-left: 16px;
      width: 16px;
      height: 10px;
      line-height: 0;
    }
  }
}

.homepage {
  .hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .background_overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, $gradient1 0%, $gradient2 100%);
    }

    .background_icon {
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: 0;
      height: 90%;
      width: 100%;
      background-position: right bottom;
      background-size: contain;
      background-repeat: no-repeat;
    }

    & > .container {
      position: relative;
      z-index: 3;
      max-width: 880px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 178px;
      padding-bottom: 285px;
      @include customBreakpointCss('max-width: 890px') {
        padding-top: 113px;
        padding-bottom: 250px;
      }

      .title {
        font-weight: 700;
        font-size: 68px;
        line-height: 70px;
        text-align: center;
        color: $fg1;
        text-shadow: 0 0 12px rgba(68, 63, 81, 0.1);
        @include customBreakpointCss('max-width: 890px') {
          font-size: 28px;
          line-height: 34px;
        }
      }

      .description {
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $fg3;
        @include customBreakpointCss('max-width: 890px') {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .cta_button {
        margin-top: 40px;

        .button {
          height: 47px;
        }
      }
    }
  }

  .second_section {
    position: relative;
    z-index: 4;
    background: $bg3;
    width: 100%;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;

    .hero_highlights {
      margin-top: -162px;
      width: 100%;
      z-index: 4;

      & > .container {
        display: flex;
        justify-content: space-between;
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
        @include customBreakpointCss('max-width: 1010px') {
          display: block;
        }

        .hero_highlight {
          position: relative;
          max-width: 300px;
          width: 100%;
          min-height: 298px;
          background: $bg2;
          border-radius: 8px;
          padding: 24px;
          box-sizing: border-box;
          text-align: center;
          box-shadow: 0 4px 14px rgba(0, 0, 0, 0.13);

          @include customBreakpointCss('max-width: 1010px') {
            max-width: 100%;

            &:not(:last-child) {
              margin-right: 0;
            }

            margin-bottom: 40px;
          }


          .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
          }

          .separator {
            height: 5px;
            border-radius: 8px;
            background: $primary;
            width: 79px;
            margin: 16px auto 30px;
          }

          .description {
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 50px;
          }

          .cta_button {
            position: absolute;
            bottom: 24px;
            left: 50%;
            margin-left: auto;
            margin-right: auto;
            transform: translateX(-50%);

            .empty_button {
              font-size: 16px;
              line-height: 24px;

              .icon {
                width: 16px;
                height: 10px;
                margin-left: 5px;
                line-height: 0;
              }
            }
          }
        }
      }
    }


    .about_clickhouse {
      margin-top: 72px;
      display: flex;
      flex-direction: column;

      .section_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $primary;
        margin-bottom: 27px;

        @include customBreakpointCss('max-width: 890px') {
          font-size: 16px;
          line-height: 19px;
        }
      }

      .see_all_features_button {
        @extend .section_button;
        margin-top: 64px;

        .empty_button {
          color: $fg4;
        }
      }
    }
  }

  .customer_stories_section {
    background: $bg2;
    padding-top: 70px;
    padding-bottom: 70px;


    & > .container {
      text-align: center;
      display: flex;
      flex-direction: column;

      .section_title {
        margin-bottom: 16px;
      }

      .section_description {
        margin-bottom: 42px;
      }

      .logos {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;

        @include customBreakpointCss('max-width: 890px') {
          display: block;
        }

        .logo_wrapper {
          background: $bg1;
          width: 200px;
          height: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          transition: box-shadow 300ms;

          &:hover {
            box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
          }

          &:not(:last-child) {
            margin-right: 30px;
          }


          @include customBreakpointCss('max-width: 890px') {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
            margin-left: auto;
            margin-right: auto !important;
          }

          .logo {
            width: 136px;
            height: 40px;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      .cta_button {
        @extend .section_button;
      }
    }
  }

  .clickhouse_cloud_section {
    padding-top: 70px;
    padding-bottom: 64px;

    .section_metadata {
      max-width: 996px;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .pretitle {
        margin-bottom: 12px;
      }

      .section_title {
        margin-bottom: 16px;
      }

      .section_description {
        margin-bottom: 92px;
      }
    }

    .buttons {
      width: 100%;
      display: grid;
      margin: 64px auto 0;
      grid-column-gap: 42px;
      grid-template-columns: repeat(2, 1fr);
      max-width: 542px;

      @include customBreakpointCss('max-width: 890px') {
        grid-column-gap: 16px;
      }

      .button_wrapper {
        width: 100%;

        .primary_button {
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          width: 100%;
          @include customBreakpointCss('max-width: 890px') {
            height: auto;
            padding: 10px;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

      .secondary_button_wrapper button {
        background: $warningBg;
        color: $warningFg;
      }
    }
  }

  .clickhouse_testimonials_section {
    background: $bg2;
    padding: 70px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section_metadata {
      max-width: 865px;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .pretitle {
        margin-bottom: 12px;
      }

      .section_title {
        margin-bottom: 16px;
      }

      .section_description {
        margin-bottom: 24px;
      }

      .icon {
        width: 146px;
        height: 78px;
        line-height: 0;
        margin-bottom: 38px;
      }
    }

    .testimonials {
      .testimonial {
        margin-bottom: 24px;

        .title {
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: $fg1;
          margin-bottom: 1px;

          &:hover {
            text-decoration: underline;
          }
        }

        .author {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $fg3;
        }
      }
    }

    .bottom_icon {
      width: 24px;
      height: 23px;
      color: $primary;
      margin-top: 3px;
    }
  }
}
