<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="homepageDataPromise | async as homepageData" class="homepage">
    <div *ngIf="homepageData.hero as hero" class="hero">
      <div class="background_overlay"></div>
      <div [strapiCssImage]="theme === 'dark' ? hero.darkBackgroundIconUrl : hero.lightBackgroundIconUrl"
           class="background_icon"></div>
      <div class="container">
        <div [innerHTML]="hero.title" class="title"></div>
        <div class="description">{{hero.description}}</div>
        <a *ngIf="hero.ctaButton as ctaButton"
           [href]=ctaButton.href
           [target]="ctaButton.target"
           class="cta_button">
          <button class="primary_button">{{ctaButton.text}}</button>
        </a>
      </div>
    </div>

    <div class="second_section">
      <div *ngIf="homepageData.hero as hero" class="hero_highlights">
        <div class="container">
          <div *ngFor="let highlight of hero.highlights" class="hero_highlight">
            <div class="title">{{highlight.title}}</div>
            <div class="separator"></div>
            <div class="description">{{highlight.description}}</div>
            <a [href]="highlight.href" [target]="highlight.target" class="cta_button">
              <button class="empty_button">{{highlight.buttonText}}
                <mat-icon class="icon" svgIcon="right_arrow"></mat-icon>
              </button>
            </a>
          </div>
        </div>
      </div>

      <div *ngIf="homepageData.aboutClickhouse as aboutClickhouse" class="container about_clickhouse dark">
        <div class="section_title">{{aboutClickhouse.title}}</div>
        <feature-list [features]="aboutClickhouse.features"></feature-list>
        <a *ngIf="aboutClickhouse.allFeaturesButton as button"
           [href]="button.href"
           [target]="button.target"
           class="see_all_features_button">
          <button class="empty_button">
            {{button.text}}
            <mat-icon class="icon" svgIcon="right_arrow"></mat-icon>
          </button>
        </a>
      </div>
    </div>

    <div *ngIf="homepageData.customerStories as customerStories" class="customer_stories_section">
      <div class="container">
        <div class="section_title">{{customerStories.title}}</div>
        <div class="section_description">{{customerStories.description}}</div>
        <div class="logos">
          <a *ngFor="let logo of customerStories.logos; trackBy: trackById" [href]="logo.href" [target]="logo.target"
             class="logo_wrapper">
            <div [strapiCssImage]="theme === 'dark' ? logo.darkLogoPngUrl : logo.lightLogoPngUrl" class="logo"></div>
          </a>
        </div>
        <a *ngIf="customerStories.ctaButton as button"
           [href]="button.href"
           [target]="button.target"
           class="cta_button">
          <button class="empty_button">
            {{button.text}}
            <mat-icon class="icon" svgIcon="right_arrow"></mat-icon>
          </button>
        </a>
      </div>
    </div>

    <div *ngIf="homepageData.clickhouseCloud as clickhouseCloud" class="clickhouse_cloud_section">
      <div class="container">
        <div class="section_metadata">
          <div class="pretitle">{{clickhouseCloud.pretitle}}</div>
          <div class="section_title">{{clickhouseCloud.title}}</div>
          <div class="section_description">{{clickhouseCloud.description}}</div>
        </div>
        <screenshot-and-bullets-list [screenshotAndBulletsList]="clickhouseCloud.items"></screenshot-and-bullets-list>
        <div class="buttons">
          <a *ngIf="clickhouseCloud.primaryButton as button"
             [href]="button.href"
             [target]="button.target"
             class="primary_button_wrapper button_wrapper">
            <button class="primary_button">
              {{button.text}}
            </button>
          </a>

          <a *ngIf="clickhouseCloud.secondaryButton as button"
             [href]="button.href"
             [target]="button.target"
             class="secondary_button_wrapper button_wrapper">
            <button class="primary_button">
              {{button.text}}
            </button>
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="homepageData.testimonials as testimonials" class="clickhouse_testimonials_section">
      <div class="container">
        <div class="section_metadata">
          <div class="pretitle">{{testimonials.pretitle}}</div>
          <div class="section_title">{{testimonials.title}}</div>
          <div class="section_description">{{testimonials.description}}</div>
          <mat-icon [svgIcon]="testimonials.testimonialsIconSvgId" class="icon"></mat-icon>
        </div>
        <div class="testimonials">
          <div *ngFor="let testimonial of testimonials.items; trackBy: trackById" class="testimonial">
            <a [href]="testimonial.href" [target]="testimonial.target" class="title">{{testimonial.title}}</a>
            <div class="author">{{testimonial.author}}</div>
          </div>
        </div>
        <mat-icon [svgIcon]="testimonials.bottomIconSvgId" class="bottom_icon"></mat-icon>
      </div>
    </div>
  </div>

  <getting-started class="getting_started_section"></getting-started>

</ng-container>
