NEXT_IS_PROD=false
SLACK_TOKEN=
M3TER_API_ENDPOINT=
M3TER_ORG_ID=
M3TER_API_KEY=
M3TER_API_SECRET=
STRAPI_WEBHOOK_TOKEN=
NEXT_PUBLIC_GROWTHBOOK_API_HOST=https://cdn.growthbook.io
NEXT_PUBLIC_GROWTHBOOK_CLIENT_KEY=
NEXT_PUBLIC_GROWTHBOOK_DECRYPTION_KEY=
NEXT_PUBLIC_STRIPE_BUTTON_PUBLISHABLE_KEY=
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=
