APP_ENV=staging
STAGING_PASSWORD=ch-website
STRAPI_API_URL=
NEXT_PUBLIC_GTM=
NEXT_PUBLIC_SEGEMENT=
NEXT_PUBLIC_WORKATO_API_URL=
NEXT_PUBLIC_WORKATO_TOKEN=
NEXT_IS_PROD=false
GALAXY_API_ENDPOINT=http://localhost:3000
