# Private - Must never be exposed to the client - never commit real values
SLACK_TOKEN=
M3TER_API_ENDPOINT="https://api.m3ter.com"
M3TER_ORG_ID=
M3TER_API_KEY=
M3TER_API_SECRET=
STRAPI_WEBHOOK_TOKEN=
STRAPI_API_URL="https://cms.clickhouse-dev.com:1337"
STRAPI_API_KEY=
ALGOLIA_ADMIN_KEY=

# Public - Exposed to the client - safe to expose
NEXT_PUBLIC_IS_PROD=false
NEXT_PUBLIC_GROWTHBOOK_API_HOST="https://cdn.growthbook.io"
NEXT_PUBLIC_GROWTHBOOK_CLIENT_KEY=sdk-tczsKs1bHEcs4QPZ
NEXT_PUBLIC_GROWTHBOOK_DECRYPTION_KEY=XYxs2Wd1rq8Z+Q9ExEblyQ==
NEXT_PUBLIC_STRIPE_BUTTON_PUBLISHABLE_KEY=pk_live_51LBihwC9bitRmbOwFDQjAa2pNEbki8jSrvriGCOlhKYCCc18S2p5yILMZ1x2nVi0p0RyDIJz2WCHv7o6iarwR1AD00UNNKvPPt
NEXT_PUBLIC_ALGOLIA_APP_ID=5H9UG7CX5W
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=9bec04972e142faa03981ff72a26af3b
