# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
pricingFile.json
githubStars.json
/public/githubStars.json
# dependencies
/node_modules
/.pnp
.pnp.js
node_modules/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/public/uploads/*
public/sitemap.xml
public/sitemap2.xml
public/rss.xml
.env
.env.staging
public/pricingFile.json
public/githubStars.json
/claude.md
