@import 'colors';

.seed_input {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  line-height: 21px;
  min-height: 41px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid $seedSelectBorder;
  transition-property: background-image, background-size, background-color;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 300ms;
  background-color: $seedSelectBg;
  background-size: 0, 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, #ffb200, #ffb200 2px, transparent 0, transparent);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &:focus, &.active {
    outline: none;
    background-size: 100%, 100%;
    background-color: $seedSelectBg;
  }
}

.seed_select {
  cursor: pointer;
  display: flex;
  align-items: center;
  @extend .seed_input;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  z-index: 5;

  &.active {
    z-index: 6;
  }

  .seed_select_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: $seedSelectIcon;
    background-size: contain;
    width: 10px;
    height: 6px;
  }

  .seed_select_options {
    display: none;
    opacity: 0;
    transition: opacity 100ms;
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    left: 0;
    background: $seedSelectBg;
    border-radius: 6px;
    border: 1px solid $seedSelectBorder;
    box-shadow: 0 0 #0000;
    padding: 5px 0;

    &.active {
      opacity: 1;
      display: block;
    }

    .seed_select_option {
      padding: 10px;
      position: relative;

      &.selected {
        font-weight: 700;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          background: url('../../../assets/icons/check_mark.svg') center center no-repeat;
          background-size: contain;
          width: 10px;
          height: 6px;
        }
      }

      &:hover {
        background: #F8F8F8;
      }
    }
  }
}
