.plusMinus {
  @apply relative w-4 h-4 cursor-pointer;

  &[data-active="true"] {
    &:before {
      transform: translatey(-50%) rotate(-90deg);
      opacity: 0;
    }
    &:after {
      transform: translatey(-50%) rotate(0);
    }
  }

  &:before,
  &:after {
    content: "";
    @apply block absolute left-0 bg-neutral-0 rounded w-full;
    top: 50%;
    transition: 0.35s;
    height: 2.5px;
  }

  &:before {
    transform: translatey(-50%);
  }

  &:after {
    transform: translatey(-50%) rotate(90deg);
  }
}
.accordionContainer {
  @apply ml-auto w-full max-w-screen-sm rounded-2xl flex flex-col gap-6;
  counter-reset: line-numbering;
}
.accordion {
  @apply pr-4 pl-20 py-4 relative bg-eerie-black/70 border border-jet rounded;
  &::before {
    @apply absolute text-left text-slate-300 border-r border-neutral-700 w-8;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    content: "0" counter(line-numbering);
    counter-increment: line-numbering;
  }
}
