.plusMinus {
  @apply relative w-4 h-4 cursor-pointer;

  &[data-active="true"] {
    &:before {
      transform: translatey(-50%) rotate(-90deg);
      opacity: 0;
    }
    &:after {
      transform: translatey(-50%) rotate(0);
    }
  }

  &:before,
  &:after {
    content: "";
    @apply block absolute left-0 bg-neutral-0 rounded w-full;
    top: 50%;
    transition: 0.35s;
    height: 2.5px;
  }

  &:before {
    transform: translatey(-50%);
  }

  &:after {
    transform: translatey(-50%) rotate(90deg);
  }
}
