<div *ngIf="pastEvents" class="past_events">
  <div class="section_metadata">
    <div class="title">Recent events</div>
  </div>
  <div class="events">
    <a *ngFor="let event of pastEvents"
       [attr.href]="event.eventVideoUrl ? event.eventVideoUrl : getEventUrl(event)"
       [target]="event.eventVideoUrl ? '_blank' : '_self'"
       class="event">
      <img alt="thumbnail" class="thumbnail" src="/assets/images/clickhouse-webinar-tile.png"/>
      <div class="category">{{event.category}}</div>
      <div class="title">{{event.title}}</div>
      <div *ngIf="event.form.type !== 'recordedGatedContent'" class="date">{{event.datetimeAndTimezoneString}}</div>
      <div class="date">{{event.localDatetime | date:'long'}}</div>
    </a>
  </div>
</div>
