<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="https://clickhouse.com/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'report-sample'  'sha256-++YtbSaH3prwlLr6I3vO/UEfnd8njV0ld6XfvLkjAyU=' 'sha256-+4XApRLLcQc+l+UvFAyvRmCvifhqhwtiFk+HT6KTMBw=' mc.yandex.ru mc.yandex.com yastatic.net https://clickhouse.com 'sha256-O6piNkhLv4BI/Oje+MccCmgUSrS1sIp+CMaOsvD/VWU=' 'sha256-O1Xg9vkLeh87z+7j2eS5SZBh4aRkgSTN5SKPReG9FLw=' 'sha256-6KJzBN1iiSOgl9yKorrn/UOkGdtryhoupBufXXVz0AA=' 'sha256-6wRdeNJzEHNIsDAMAdKbdVLWIqu8b6+Bs+xVNZqplQw=' 'sha256-Iq4L1sSeHXuAPP2voTJueoZ6m/sIwJTiyN3yOq9j8A8='  https://ajax.cloudflare.com/cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js https://clickhouse.com/js/jquery.js https://clickhouse.com/js/metrika.js  https://www.googletagmanager.com/gtag/js https://clickhouse.com/js/jquery.js; manifest-src https://clickhouse.com/learn/site.webmanifest ">
-->   <script src="https://clickhouse.com/js/jquery.js"></script>
    <script type="text/javascript" async="" src="https://clickhouse.com/js/metrika.js"></script>

    {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
    {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
    {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
    {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
    {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}



    {{ range .Site.Params.custom_css -}}
      <link rel="stylesheet" href="{{ . | relURL }}">
    {{- end }}    
    {{ range .Site.Params.custom_js -}}
      {{ $js := resources.Get . }}
      {{  $js_min := $js | minify }}
      <script src="{{ $js_min.Permalink }}"></script>
    {{- end }}    

</head>