.primaryButton {
  @apply inline-flex justify-center items-center gap-1 text-center bg-ch-yellow px-4 py-2 font-medium uppercase leading-normal text-black hover:underline
}

.secondaryButton {
  @apply inline-flex justify-center items-center gap-1 text-center bg-black px-4 py-2 font-medium uppercase leading-normal text-white hover:underline
}

.modalBackground {
  &:before {
    content: '';
    display: block;
    position: fixed;
    inset: 0;
    --dot: 1.5px;
    --bg: black;
    background-image: radial-gradient(
                    circle at center,
                    var(--bg) var(--dot),
                    transparent var(--dot)
    );
    background-size: calc(var(--dot) * 2) calc(var(--dot) * 2);
    backdrop-filter: blur(8vmin) contrast(10);
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1;
  }
}