.dark {
  color: var(--fg1);
  --headerBg: 47, 44, 58;
  --bg1: #2F2C3A;
  --bg2: #373343;
  --bg3: #443F51;
  --bg4: #373343;
  --bg5: #585267;
  --bg6: #12101B;
  --bg7: #443F51;
  --bg8: #373343;
  --fg1: #FFFFFF;
  --fg2: #443F51;
  --fg3: #B0B4BC;
  --fg4: #FFFFFF;
  --fg5: #B0B4BC;

  --primary: #FFB200;
  --warningBg: #FFEFCA;
  --warningFg: #C78F0F;
  --gradient1: #37334300;
  --gradient2: #373343;

}

.light {
  color: var(--fg1);
  --headerBg: 255, 255, 255;
  --bg1: #FFFFFF;
  --bg2: #F6F7FA;
  --bg3: #443F51;
  --bg4: #373343;
  --bg5: #585267;
  --bg6: #EFEFF2;
  --bg7: rgba(109, 115, 134, 0.1);
  --bg8: #FAFBFD;
  --fg1: #2F2C3A;
  --fg2: #FFFFFF;
  --fg3: #6D7386;
  --fg4: #FFFFFF;
  --fg5: #F6F7FA;
  --primary: #FFB200;
  --warningBg: #FFEFCA;
  --warningFg: #C78F0F;
  --gradient1: #f6f7fa00;
  --gradient2: #F6F7FA;
}

$headerBg: var(--headerBg);
$bg1: var(--bg1);
$bg2: var(--bg2);
$bg3: var(--bg3);
$bg4: var(--bg4);
$bg5: var(--bg5);
$bg6: var(--bg6);
$bg7: var(--bg7);
$bg8: var(--bg8);
$fg1: var(--fg1);
$fg2: var(--fg2);
$fg3: var(--fg3);
$fg4: var(--fg4);
$fg5: var(--fg5);
$primary: var(--primary);
$warningBg: var(--warningBg);
$warningFg: var(--warningFg);
$gradient1: var(--gradient1);
$gradient2: var(--gradient2);
