<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="cloudDataPromise | async as cloudData" class="cloud">
    <div *ngIf="cloudData.hero as hero" class="hero">
      <div class="background_overlay"></div>
      <div class="background_image_wrapper">
        <mat-icon [svgIcon]="hero.backgroundSvg.hash" class="background_image"></mat-icon>
      </div>
      <div class="container">
        <div class="left">
          <div [innerHTML]="hero.title" class="title"></div>
          <div class="description">{{hero.description}}</div>
          <a *ngIf="hero.ctaButton as ctaButton"
             [href]=ctaButton.href
             [target]="ctaButton.target"
             (click)="segmentService.trackGaEvent('click', ctaButton.text, 'website-hero')"
             class="cta_button">
            <button class="primary_button">{{ctaButton.text}}</button>
          </a>

          <div class="cloud_providers">
            <div *ngFor="let cloudProvider of hero.cloudProviders" class="cloud_provider">
              <div class="cloud_provider_title">{{cloudProvider.title}}</div>
              <div class="logos">
                <img
                  *ngFor="let logo of theme === 'dark' ? cloudProvider.darkProviderPngs : cloudProvider.lightProviderPngs"
                  [src]="logo | strapiImageUrl"
                  class="logo"
                  alt="logo"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <img [src]="hero.videoGif | strapiImageUrl" alt="video" class="video_gif"/>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="container">
        <feature-list [features]="cloudData.features"></feature-list>
      </div>
    </div>

    <div class="screenshot_and_bullets">
      <div class="container">
        <screenshot-and-bullets-list
          [screenshotAndBulletsList]="cloudData.screenshotsAndBullets"></screenshot-and-bullets-list>
      </div>
    </div>

    <a anchor id="early_access"></a>
    <div *ngIf="cloudData.earlyAccessForm as earlyAccessForm" class="early_access_form">
      <div class="container">
        <div class="section_metadata">
          <div class="pretitle">{{earlyAccessForm.pretitle}}</div>
          <div class="section_title">{{earlyAccessForm.title}}</div>
          <div class="section_description">{{earlyAccessForm.description}}</div>
        </div>

        <contact-form [contactForm]="earlyAccessForm.contactForm"></contact-form>
      </div>
    </div>
  </div>
</ng-container>
