.mktoFormContainer {
    form {width: auto !important;}
    label {width: auto !important; @apply text-xs font-medium text-neutral-300 pb-1 relative inline-block pr-2;}
    input, textarea, select {  @apply transition-[border] bg-left-bottom duration-300 ease-in bg-neutral-725 text-neutral-0 placeholder-neutral-400 relative w-full rounded-md shadow-input px-3 py-2 text-left sm:text-sm resize-none cursor-text  mt-1;
        @apply border border-neutral-700;
        &:focus {
        @apply border-primary-300 outline-none bg-slate-900;
        }
        &[type="password"] {
        @apply pr-10;
        }
    }

    input, textarea, select {width: 100% !important; }

    select {@apply cursor-pointer appearance-none; }
    div[data-wrapper-for="FirstName LastName"],
    div[data-wrapper-for="Email Company"]
    {
        @apply md:flex md:space-x-8 md:mb-5 md:justify-between;
    }
    div[data-wrapper-for="dedicatedMigratingExisting"]  {@apply w-full md:mb-3}
    div[data-wrapper-for="dedicatedUseCase"],div[data-wrapper-for="dedicatedDescribeWorkload"]   {@apply  mb-5}

}