.terminalData {
  @apply relative block w-full whitespace-pre-wrap pl-4 font-inconsolata text-sm font-bold;
  p {
    @apply inline;
  }

  :global .line::before {
    @apply absolute left-0 text-left text-slate-500;
    content: '$';
    width: 0.875rem;
  }
  &[data-type='decimal'] {
    @apply pl-[38px];
    counter-reset: line-numbering;
    :global .line::before {
      @apply text-right;
      content: counter(line-numbering);
      counter-increment: line-numbering;
    }
  }
}

.terminalHeader {
  @apply flex h-11 items-center gap-4 rounded px-4 py-3 text-base font-bold text-primary-50;
  &[data-terminal='false'] {
    @apply relative px-6;
    background: #171804;
    &::before {
      content: '';
      background-image: url('/noise.png');
      @apply absolute inset-0 bg-cover opacity-5;
    }
  }
  &[data-controls='false'] {
    @apply px-4;
  }
}
