.gate {
    display: none;
}
.gated {
    height: 1000px;
    overflow-y: hidden;
    position: relative;
}
.gated .gate {
    background: linear-gradient( rgba(37,53,64,0), rgba(37,53,64,1) );
    display: block;
    height: 1000px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

hr {
    margin: 3rem 0;
}

.gray {
    background-color: darkgrey;
}


:root {
    --bs-body-font-family: hind siliguri,sans-serif;
}

.anchor {
    visibility: hidden;
    padding-left: 0.5rem;
    display: none;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

ol li  {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.col-lg-5 {
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.5rem;
    font-size: calc(0.75rem + 0.3vw);
}

.h4 {
    font-size: calc(1.0rem + 0.3vw);
}

.section.section-sm {
    background-color: aliceblue;
}

.docs-sidebar {
    flex: unset;
    width: 10%;
}

.col-lg-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-top-padding {
    padding-top: 50px;
}