.pulseRing {
  animation-name: pulse-ring;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  animation-iteration-count: infinite;

  @keyframes pulse-ring {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: .5;
      transform: scale(0.95);
    }
  }
}