@import 'colors';
@import 'mixins';

.pricing {
  .hero {
    text-align: center;
    padding: 88px 0;

    .title {
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 20px;
    }

    .description {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: $fg3;
      margin-bottom: 70px;
      max-width: 656px;
      margin-left: auto;
      margin-right: auto;
    }

    .plans_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 32px;

      .plan_card {
        width: 320px;
        height: 575px;
        background: $bg1;
        padding: 40px;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: rgba(176, 180, 188, 0.1);

        .top_marker {
          position: relative;
          top: -40px;
          left: -40px;
          width: calc(100% + 80px);
          height: 5px;
          background: $primary;
          border-radius: 32px 32px 0 0;
        }

        .card_content {
          display: flex;
          flex-direction: column;
          gap: 19px;
          height: 100%;
        }

        .title {
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
        }

        .plan_items {
          margin-top: 40px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .row {
            display: flex;
            gap: 16px;
            align-items: center;

            .icon {
              width: 10.5px;
              height: 9px;
              font-size: 9px;
            }

            .item_text {
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              text-align: start;
            }
          }
        }

        .button_wrapper {
          margin-top: auto;
          width: 100%;

          button {
            height: auto;
            padding: 10px;
            width: 100%;
          }

          .stroked_button {
            color: $fg1;
            padding: 9px 24px;
          }
        }
      }
    }

    .open_source_link {
      margin-top: 48px;
      color: $fg3;
    }
  }

  .philosophy {
    text-align: center;
    padding: 104px 0 265px 0;
    background: $bg3;
    color: #FFFFFF;

    .container {
      padding: 0 112px;
    }

    .title {
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
    }
    .columns_wrapper {
      margin-top: 72px;
      display: grid;
      align-items: center;
      grid-column-gap: 149px;
      grid-row-gap: 64px;
      grid-template-columns: 1fr 1fr;

      .column {
        .header_row {
          display: grid;
          grid-template-columns: 1fr 7fr;
          grid-column-gap: 24px;
          grid-row-gap: 16px;

          .image {
            width: 72px;
            height: 72px;
          }

          .column_title {
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            text-align: start;
            align-self: center;
          }
        }

        .content {
          margin-top: 48px;
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          width: 400px;
          text-align: start;
        }
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  .pricing {
    .hero {
      .plans_container {
        justify-items: center;
        grid-template-columns: 1fr;
      }
    }

    .philosophy {
      .columns_wrapper {
        grid-template-columns: 1fr;

        .column {
          .header_row {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
