<ng-container *ngIf="themeObs | async as theme" xmlns="http://www.w3.org/1999/html">
  <div *ngIf="pricingDataPromise | async as pricingData" class="pricing">
    <div *ngIf="pricingData.hero as hero" class="hero">
      <div class="container">
        <div class="title">{{hero.title}}</div>
        <div class="description">{{hero.description}}</div>
        <div *ngIf="pricingPlansDataPromise | async as pricingPlansData" class="plans_container">
          <div *ngFor="let plan of pricingPlansData" class="plan_card">
            <div class="top_marker"></div>
            <div class="card_content">
              <div class="title">{{plan.name}}</div>
              <div class="plan_items">
                <div *ngFor="let item of plan.items" class="row">
                  <mat-icon *ngIf="item.isBulleted" class="icon" svgIcon="check_mark"></mat-icon>
                  <p [innerHTML]="item.description | markdown" class="item_text"></p>
                </div>
              </div>
              <a [href]="plan.actionButton.link" class="stroked_button_wrapper button_wrapper">
                <button class="stroked_button">
                  {{plan.actionButton.text}}
                </button>
              </a>
            </div>
          </div>
        </div>
        <p [innerHTML]="hero.openSourceLink | markdown" class="open_source_link"></p>
      </div>
    </div>

    <div *ngIf="pricingData.pricingPhilosophy as philosophy" class="philosophy">
      <div class="container">
        <div class="title">{{philosophy.title}}</div>
        <div class="columns_wrapper">
          <div *ngFor="let column of philosophy.columns" class="column">
            <div class="header_row">
              <img [src]="column.image | strapiImageUrl" alt="payment method" class="image"/>
              <div class="column_title">{{column.header}}</div>
            </div>
            <div [innerHTML]="column.content | markdown" class="content"></div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="pricingData.meteredPricing as meteredPricing" class="metered_pricing">
      <div *ngIf="regionPricingDataObs | async as regionPricing" class="container">
        <div class="title">{{meteredPricing.title}}</div>
        <div [innerHTML]="meteredPricing.subtitle | markdown" class="subtitle"></div>
        <div class="controls_row">
          <div class="cloud_providers">
            <mat-icon svgIcon="aws_logo" class="aws_logo"></mat-icon>
            <div class="inactive_providers_wrapper">
              <div class="inactive_logos">
                <mat-icon svgIcon="gcp_logo" class="gcp_logo"></mat-icon>
                <mat-icon svgIcon="azure_logo" class="azure_logo"></mat-icon>
              </div>
              <div class="inactive_message">Coming soon</div>
            </div>
          </div>
          <div class="seed_select_wrapper">
            <seed-select [options]="regionPricing" [template]="regionTemplate"></seed-select>
          </div>
        </div>
        <div class="table_wrapper">
          <table *ngIf="selectedRegion" class="region_pricing_table">
            <thead>
              <tr class="header_row row">
                <th *ngFor="let header of regionPridingHeaders" class="cell">
                  {{header}}
                </th>
              </tr>
            </thead>
            <tbody>
            <tr class="row">
              <td class="cell">Storage</td>
              <td class="cell">${{selectedRegion.storagePricing.priceUSD}}</td>
              <td class="cell">
                <div class="metering_unit_div">
                  {{selectedRegion.storagePricing.meteringUnit}}
                  <mat-icon svgIcon="info" class="info_icon"
                            [matTooltip]="selectedRegion.storagePricing.meteringTooltip"
                            matTooltipPosition='right'
                  ></mat-icon>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">Compute</td>
              <td class="cell">${{selectedRegion.computePricing.priceUSD}}</td>
              <td class="cell">
                <div class="metering_unit_div">
                  {{selectedRegion.computePricing.meteringUnit}}
                  <mat-icon svgIcon="info" class="info_icon"
                            [matTooltip]="selectedRegion.computePricing.meteringTooltip"
                            matTooltipPosition='right'
                  ></mat-icon>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">Write</td>
              <td class="cell">${{selectedRegion.writePricing.priceUSD}}</td>
              <td class="cell">
                <div class="metering_unit_div">
                  {{selectedRegion.writePricing.meteringUnit}}
                  <mat-icon svgIcon="info" class="info_icon"
                            [matTooltip]="selectedRegion.writePricing.meteringTooltip"
                            matTooltipPosition='right'
                  ></mat-icon>
                </div>
              </td>
            </tr>
            <tr class="row">
              <td class="cell">Read</td>
              <td class="cell">${{selectedRegion.readPricing.priceUSD}}</td>
              <td class="cell">
                <div class="metering_unit_div">
                  {{selectedRegion.readPricing.meteringUnit}}
                  <mat-icon svgIcon="info" class="info_icon"
                            [matTooltip]="selectedRegion.readPricing.meteringTooltip"
                            matTooltipPosition='right'
                  ></mat-icon>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #regionTemplate let-item="item">
  <div class="region_item">
    <img [src]="item.value.regionFlagPNG | strapiImageUrl" alt="{{item.value.region}} flag" class="flag_icon"/>
    <div class="region_name">{{item.value.region}}</div>
  </div>
</ng-template>
