@import 'colors';
@import 'mixins';

.region_item {
  display: flex;
  gap: 12px;
  align-items: center;

  .flag_icon {
    width: 24px;
    height: 13.5px;
  }
}


.pricing {
  background: $bg2;
  padding-bottom: 88px;

  .hero {
    text-align: center;
    padding: 88px 0;

    .title {
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 20px;
    }

    .description {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: $fg3;
      margin-bottom: 70px;
      max-width: 656px;
      margin-left: auto;
      margin-right: auto;
    }

    .plans_container {
      display: flex;
      gap: 32px;

      .plan_card {
        width: 100%;
        max-width: 320px;
        height: 575px;
        background: $bg1;
        padding: 40px;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: rgba(176, 180, 188, 0.1);

        .top_marker {
          position: relative;
          top: -40px;
          left: -40px;
          width: calc(100% + 80px);
          height: 5px;
          background: $primary;
          border-radius: 32px 32px 0 0;
        }

        .card_content {
          display: flex;
          flex-direction: column;
          gap: 19px;
          height: 100%;
        }

        .title {
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
        }

        .plan_items {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .row {
            display: flex;
            gap: 16px;

            .check_icon {
              margin-top: 5px;
              width: 15px;
              height: 15px;
            }

            .item_text {
              flex: 1;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              text-align: start;
            }
          }
        }

        .button_wrapper {
          margin-top: auto;
          width: 100%;

          button {
            height: auto;
            padding: 10px;
            width: 100%;
          }

          .stroked_button {
            color: $fg1;
            padding: 9px 24px;
          }
        }
      }
    }

    .open_source_link {
      margin-top: 48px;
      color: $fg3;
    }
  }

  .philosophy .container .title, .metered_pricing .container .title, .contact_section .container .title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }

  .philosophy {
    text-align: center;
    padding: 104px 0 265px 0;
    background: $bg3;
    color: #FFFFFF;

    .container {
      padding: 0 112px;
    }

    .columns_wrapper {
      margin-top: 72px;
      display: grid;
      align-items: center;
      grid-column-gap: 149px;
      grid-row-gap: 64px;
      grid-template-columns: 1fr 1fr;

      .column {
        .header_row {
          display: grid;
          grid-template-columns: 1fr 7fr;
          grid-column-gap: 24px;
          grid-row-gap: 16px;

          .image {
            width: 72px;
            height: 72px;
          }

          .column_title {
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            text-align: start;
            align-self: center;
          }
        }

        .content {
          margin-top: 48px;
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          width: 100%;
          max-width: 400px;
          text-align: start;
        }
      }
    }
  }

  .metered_pricing {
    text-align: center;

    .container {
      padding: 80px 106px;
      background: $bg1;
      max-width: 1150px;
      width: 100%;
      margin-top: -149px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 6px 4px -4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      .center_content {
        display: flex;
        flex-direction: column;
        align-items: center;

      .subtitle {
        margin-top: 20px;
        color: #B0B4BC;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
      }

      .controls_row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 80px;
        grid-row-gap: 32px;
        margin-top: 48px;
        min-width: 320px;

        .cloud_providers {
          display: flex;
          gap: 19px;
          justify-content: center;

          .aws_logo {
            width: 48px;
            height: 36px;
          }

          .gcp_logo {
            width: 39px;
            height: 31.5px;
            opacity: 0.25;
          }

          .azure_logo {
            width: 33px;
            height: 33px;
            opacity: 0.25;
          }

          .inactive_logos {
            display: flex;
            gap: 19px;
          }

          .inactive_message {
            margin-top: 8px;
            font-style: italic;
            font-size: 12px;
            line-height: 21px;
            color: $fg3;
          }
        }

        .seed_select_wrapper {
          width: 100%;
          max-width: 400px;
        }
      }

        .table_wrapper {
        border-radius: 8px;
        border: 1px solid $seedSelectBorder;
        overflow: hidden;
        margin-top: 48px;
        width: 100%;
        max-width: 780px;

        .region_pricing_table {
          border-collapse: collapse;
          width: 100%;

          .row {
            text-align: left;
            height: 82px;

            .cell {
              font-size: 14px;
              line-height: 21px;
              padding: 0 24px;
              border-bottom: 1px solid $seedSelectBorder;

              .metering_unit_div {
                display: flex;
                align-items: center;
                gap: 6px;

                .info_icon {
                  width: 16px;
                  height: 15px;
                }
              }

            }

            &:last-child {
              .cell {
                border-bottom: 0;
              }
            }

            &.header_row {
              background: $bg2;
              border-radius: 8px 8px 0 0;

              .cell {
                cursor: pointer;
                border-bottom: 1px solid $seedSelectBorder;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;

              }
            }
          }
        }
      }

        .metered_pricing_footer_note {
          margin-top: 16px;
          font-size: 12px;
          line-height: 18px;
          color: $fg3;
          max-width: 673px;
          text-align: start;
        }
    }
    }
  }

  .contact_section {
    margin-top: 88px;

    .container {
      padding: 72px 80px;
      background: $primary;
      width: 100%;
      max-width: 1150px;
      border-radius: 8px;
      color: #2F2C3A;
      display: flex;

      .left_content {
        .subtitle {
          margin-top: 32px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          max-width: 640px;
          margin-bottom: 32px;
        }

        .contact_button {
          button {
            background: #2F2C3A;
            color: #F6F7FA;
          }
        }
      }
      .cube_image {
        margin-left: auto;
        height: 240px;
        width: 240px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: -120px;
      }
    }
  }
}

@media only screen and (max-width: 1190px) {
  .cube_image {
    display: none !important;
  }
}

@media only screen and (max-width: 950px) {
  .pricing {
    padding-bottom: 0;

    .hero {
      .plans_container {
        flex-direction: column;
        align-items: center;

        .plan_card {
          height: auto;

          .button_wrapper {
            margin-top: 46px;
          }
        }
      }
    }

    .philosophy {
      .container {
        padding: 0 32px;

        .columns_wrapper {
          grid-template-columns: 1fr;

          .column {
            .header_row {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }

    .metered_pricing {
      .container {
        padding: 64px 32px;

        .controls_row {
          grid-template-columns: 1fr !important;
        }

        .cell {
          font-size: 13px !important;
          padding: 0 10px !important;
        }

        .header_row .cell {
          font-size: 11px !important;
        }

        .info_icon {
          display: none;
        }
      }
    }

    .contact_section {
      margin-top: 0;

      .container {
        border-radius: 0;
        padding: 44px 24px;
      }
    }


  }
}
