/*
.btn-toggle::before {
    content: unset;
}

.btn-toggle {
    text-transform: unset;
    font-weight: 600;
}
*/

.header-logo {
    margin-right: 1em;
}

.sidebar-hr {  
    margin: 0;
    width: 91%;

}

.docs.list .content {
    padding-top: 0;
}

hr {
    margin: 3rem 0;
}

.gray {
    background-color: darkgrey;
}

/* This one I need to verify doesn't have a ripple effect on mobile devices, 
.container-xxl {
    max-width: unset;
}
*/

:root {
    --bs-body-font-family: hind siliguri,sans-serif;
}

.anchor {
    visibility: hidden;
    padding-left: 0.5rem;
    display: none;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

ol li  {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.col-lg-5 {
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.5rem;
    font-size: calc(0.75rem + 0.3vw);
}

.h4 {
    font-size: calc(1.0rem + 0.3vw);
}

.section.section-sm {
    background-color: aliceblue;
}


.docs-sidebar {
/*     flex: unset;  */
    width: 100%;  

    /*    background-color: rgba(245,247,249,1.00); */
    border-radius: 0;
  /*  padding-right: unset; */
/*    margin: 0;
    border-right-color: darkgray;
    border-right-style: solid;
    border-right-width: 1px;
*/
}


.col-lg-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-top-padding {
    padding-top: 50px;
}

pre {
    padding: 0rem 0rem;
    font-size: 0.9em;
}

.hljs {
    padding: 0 0;
}

table {
    margin: 0 0;
}

.contact-us {
    margin: 2rem;
    font-size: 0.9rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: aliceblue;
}

.more-spacing {
    padding: 20px;
}

.gate_cta {
    display: none;
    top: 100px;
    left: 10px;
    background: #ffcc00;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 440px;
    padding: 43px 33px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}
.gate_cta button {
    background: #257af4;
    border: none;
    border-radius: 4px;
    color: #FFF;
    display: block;
    font-size: 18px;
    margin: 0 auto 18px;
    padding: 13px 33px;
}
.gate_cta .gate-skip {
    color: #000000;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}
.gate_cta .gate-skip:hover {
    text-decoration: underline;
}
.gate_cta h3 {
    color: #253540;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.gate_cta input {
    border: 1px solid #D6DDE3;
    border-radius: 2px;
    font-size: 18px;
    margin-bottom: 23px;
    padding: 13px;
    width: 100%;
}
.gate_cta p {
    font-size: 16px;
    margin-bottom: 23px;
    text-align: center;
}
.gate_cta .cookies {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}