.videoPlaceHolder {
  @apply mx-auto;
  max-width: 800px;
  width: 100%;
  width: fill-available;
  & > div {
    @apply rounded-xl relative z-10 p-4 w-full h-full bg-c4/10;
  }

  iframe {
    @apply max-w-full top-0 left-0 relative w-full h-full aspect-video;
  }

  &::before {
    content: "";
    @apply absolute inset-x-0 top-0;
    background: linear-gradient(270.28deg, #443f51 0.18%, #23202d 99.84%);
    bottom: 50%;
  }
}

.learnBg {
  background: linear-gradient(270.28deg, #443f51 0.18%, #23202d 99.84%);
}
