.marketoFormContainerV2 {
  :global {
    form.mktoForm {
      width: 100% !important;
      @apply text-neutral-200;

      // "@apply space-y-5;" doesn't work because Marketo wraps hidden fields in a div producing extra spacing.
      // Spacing is added to the .mktoFormCol class

      // Resets
      //
      //

      &,
      * {
        float: none !important;
      }

      .mktoClear,
      .mktoOffset,
      .mktoGutter {
        @apply hidden;
      }

      // Empty placehoders
      //
      .mktoPlaceholder {
        display: none;
      }

      // Basic layout
      //
      //
      .mktoFormRow,
      .mktoButtonRow {
        @apply flex flex-wrap;
        @apply md:gap-4;

        > * {
          @apply w-full max-w-full flex-shrink-0;
        }

        .mktoFormCol {
          @apply mb-8 max-w-full flex-shrink flex-grow basis-full;
          @apply md:basis-0;
        }

        // Field groups
        fieldset.mktoFormCol {
        }
      }

      // By default, on smaller screens we break columns onto new lines.
      // Adding this class to the will disable this behaviour.
      &.allow-columns {
        .mktoFormRow,
        .mktoButtonRow {
          @apply gap-4;

          .mktoFormCol {
            @apply basis-0;
          }
        }
      }

      // Field sets
      //
      //
      legend {
        @apply mb-4 w-full border-b border-b-primary-300/30 pb-2;
      }

      // Fields
      //
      //
      .mktoFieldWrap {
        @apply relative flex h-full flex-col justify-items-start;

        // Label
        //
        label.mktoLabel {
          gap: 0.5ch;
          @apply mb-1 flex w-auto flex-row justify-start pb-1 text-xs font-medium;

          a {
            @apply underline;
          }

          .mktoAsterix {
            float: none !important;
            @apply order-last hidden align-super text-c4;
          }
        }

        &.mktoRequiredField label.mktoLabel .mktoAsterix {
          @apply inline;
        }

        // Field error message - default
        //
        .mktoError {
          @apply hidden;
          position: relative !important;
          top: 0 !important;
          left: 0 !important;
          right: auto !important;
          bottom: auto !important;

          .mktoErrorArrowWrap {
            @apply hidden;
          }

          .mktoErrorMsg {
            @apply mt-1 block min-h-[1rem] text-xs;
          }
        }

        // Field error message - show
        //
        .mktoInvalid ~ .mktoError {
          @apply block;
        }

        // Input instructions
        .mktoInstruction {
          @apply mt-3 text-xs;

          &:empty {
            @apply hidden;
          }
        }

        // General field styles
        //
        input:not([type='checkbox']):not([type='radio']),
        textarea,
        select {
          width: 100% !important;
          @apply relative mt-1 w-full cursor-text resize-none appearance-none rounded-md border px-3 py-2 text-left shadow-input transition-[border] duration-300 ease-in sm:text-sm;
        }

        // Dropdowns
        //
        select {
          @apply cursor-default;

          background: {
            image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
            position: right 0.5rem center;
            repeat: no-repeat;
            size: 1.5em 1.5em;
          }
        }

        // Dates
        //
        input[type='date'] {
          padding-right: calc(
            1.5em + 0.75rem
          ) !important; // Add error padding by default on marketo date fields to prevent issue on Chrome.
        }

        // Checkboxes
        //
        .mktoCheckboxList {
          width: 100% !important;
          @apply flex flex-row flex-wrap items-center justify-start;

          input {
            @apply mr-2 h-4 w-4 appearance-none rounded border;

            &:checked {
              background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
            }

            & + label {
              @apply block min-h-[1rem] text-sm;
              width: calc(
                100% - 1.5rem
              ); // 100% minus the width and margin of the input
            }
          }
        }

        // Radios
        //
        .mktoRadioList {
          width: 100% !important;
          @apply flex flex-row flex-wrap items-center justify-start;

          input {
            @apply mr-2 h-4 w-4 appearance-none rounded-full border;

            &:checked {
              background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
            }

            & + label {
              @apply block min-h-[1rem] text-sm;
              width: calc(
                100% - 1.5rem
              ); // 100% minus the width and margin of the input
            }
          }
        }

        // HTML message
        //
        .mktoHtmlText {
          width: 100% !important;
        }
      }

      // Buttons
      //
      //
      .mktoButtonWrap {
        margin-left: 0 !important;
      }

      .mktoButton {
        @apply w-full whitespace-nowrap rounded-lg px-6 py-2.5 text-center text-sm font-semibold transition-colors duration-300;
      }

      // ======
      // DARK THEME
      // ======

      &.theme-dark {
        .mktoFieldWrap {
          // Label
          //
          label.mktoLabel {
            @apply text-neutral-300;
          }

          // Field error message - default
          //
          .mktoError {
            .mktoErrorMsg {
              @apply text-danger-200;
            }
          }

          // Input instructions
          .mktoInstruction {
            @apply text-neutral-300;
          }

          // General field styles
          //
          input:not([type='checkbox']):not([type='radio']),
          textarea,
          select {
            @apply border-neutral-700 bg-neutral-725 text-neutral-0 placeholder-neutral-400;
            @apply focus:border-primary-300 focus:bg-slate-900 focus:outline-none;

            // Error state
            &.mktoInvalid:not(:focus) {
              @apply border-danger-200;
            }
          }

          // Dropdowns
          //
          select {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
          }

          // Checkboxes
          //
          .mktoCheckboxList {
            input {
              @apply border-neutral-700 bg-neutral-725;
              @apply checked:border-primary-300;

              &:checked {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
              }
            }

            // Error state
            &.mktoInvalid input:not(:checked) {
              @apply border-danger-200;
            }
          }

          // Radios
          //
          .mktoRadioList {
            input {
              @apply border-neutral-700 bg-neutral-725;
              @apply checked:border-primary-300;

              &:checked {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
              }
            }

            // Error state
            &.mktoInvalid input:not(:checked) {
              @apply border-danger-200;
            }
          }
        }

        // Buttons
        //
        //
        .mktoButton {
          @apply bg-primary-300 text-primary-900;
          @apply hover:bg-primary-400;
        }
      }

      // ======
      // LIGHT THEME
      // ======

      &.theme-light {
        .mktoFieldWrap {

          // Label
          //
          label.mktoLabel {
            @apply text-primary-900;
          }

          // Field error message - default
          //
          .mktoError {
            .mktoErrorMsg {
              @apply text-danger-600;
            }
          }

          // Input instructions
          .mktoInstruction {
            @apply text-neutral-300;
          }

          // General field styles
          //
          input:not([type='checkbox']):not([type='radio']),
          textarea,
          select {
            @apply border-neutral-200 bg-white text-primary-900 placeholder-neutral-400;
            @apply focus:border-primary-400 focus:outline-none;

            // Error state
            &.mktoInvalid:not(:focus) {
              @apply border-danger-600;
            }
          }

          // Dropdowns
          //
          select {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
          }

          // Checkboxes
          //
          .mktoCheckboxList {
            input {
              @apply border-neutral-200 bg-white;
              @apply checked:border-primary-500 checked:bg-primary-300;

              &:checked {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23161517' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");

              }

              & + label {
                @apply text-primary-900;
              }
            }

            // Error state
            &.mktoInvalid input:not(:checked) {
              @apply border-danger-600;
            }
          }

          // Radios
          //
          .mktoRadioList {
            input {
              @apply border-neutral-200 bg-white;
              @apply checked:border-primary-500 checked:bg-primary-300;

              &:checked {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23161517' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
              }

              & + label {
                @apply text-primary-900;
              }
            }

            // Error state
            &.mktoInvalid input:not(:checked) {
              @apply border-danger-600;
            }
          }
        }

        // Buttons
        //
        //
        .mktoButton {
          @apply bg-primary-300 text-primary-900;
          @apply hover:bg-primary-400;
        }
      }

      // Newsletter specific styles (Marketo ID 1122)
      //
      &#mktoForm_1122 {
        @apply flex flex-row flex-nowrap items-stretch;
        @apply rounded border border-neutral-725 bg-neutral-750 p-1;

        // Hides hidden fields
        .mktoFormRow:not(:first-child) {
          @apply hidden;
        }

        .mktoFormRow:first-child {
          @apply w-full flex-grow self-center;

          .mktoFormCol {
            @apply mb-0;

            .mktoFieldWrap {
              label.mktoLabel {
                @apply hidden;
              }

              input:not([type='checkbox']):not([type='radio']),
              textarea,
              select {
                @apply mt-0 pl-2;
                @apply border-0 bg-transparent text-sm leading-none;

                &::placeholder {
                  @apply text-slate-400;
                }
              }
            }
          }
        }

        .mktoButtonRow {
          @apply flex-1;

          button.mktoButton {
            @apply h-full w-auto whitespace-nowrap px-4;
            @apply rounded font-medium;
          }
        }
      }

      // Industry: Cybersecurity
      &.referer-industries-cybersecurity {
        textarea#programmessagefull {
          height: 110px !important;
        }
      }

      // New CH yellow buttons
      //
      &.referer-openhouse,
      &.referer-openhouse-register,
      &.referer-houseparty-vegas-2024,
      &.referer-houseparty-vegas-2024-ticket {
        .mktoButtonRow button.mktoButton {
          background-color: #ebff00 !important;
        }
      }

      // Open House (Marketo ID 1314)
      //
      &#mktoForm_1314 {
        .mktoButtonRow button.mktoButton {
          width: auto !important;
          border-radius: 0.25rem !important;
        }
      }

      // Houseparty inline checkboxes (Marketo ID 1258)
      //
      &#mktoForm_1258 {
        label.mktoLabel {
          @apply text-sm;
        }

        ::placeholder {
          @apply text-sm text-neutral-600;
        }

        .mktoFormRow:nth-child(9) {
          .mktoFieldWrap {
            @apply flex-row items-center;

            label.mktoLabel {
              @apply mb-0 pb-0;
            }

            .mktoCheckboxList {
              @apply order-first flex-shrink-0 flex-grow-0;
              width: auto !important;
            }
          }
        }

        .mktoFormRow:nth-child(11) {
          .mktoFieldWrap {
            @apply flex-row items-center;

            label.mktoLabel {
              @apply mb-0 pb-0;
            }

            .mktoCheckboxList {
              @apply order-first flex-shrink-0 flex-grow-0;
              width: auto !important;
            }
          }
        }
      }
    }



    /**
     ================================
     Marketo Forms:
       - Bring Your Own Cloud (BYOC)
       - Government Waitlist
       - Distributed Cache Waitlist
       - Inverted Index Waitlist
     ================================
     */

    form.mktoForm#mktoForm_1135,
    form.mktoForm#mktoForm_1391,
    form.mktoForm#mktoForm_1407,
    form.mktoForm#mktoForm_1469 {
      label#LblmiscBlankField15 + .mktoGutter + .mktoRadioList {
        @apply flex flex-row flex-nowrap items-stretch gap-2 pt-1;

        input {
          // Resets
          @apply mr-0 h-auto w-auto bg-transparent checked:bg-none;
          & + label {
            @apply hidden;
          }

          // Spoof buttons
          @apply h-[42px] flex-1 cursor-pointer rounded border border-neutral-700 bg-neutral-725 transition-colors;
          @apply bg-contain bg-center bg-no-repeat;
          @apply hover:border-neutral-600;
          @apply checked:border-primary;
          background-size: 30px;
        }

        input[value='Amazon Web Services'] {
          background-image: url('/marketo-inputs/1135-aws.svg');
          background-size: 40px;
        }

        input[value='Google Cloud Platform'] {
          background-image: url('/marketo-inputs/1135-gcp.svg');
        }

        input[value='Azure'] {
          background-image: url('/marketo-inputs/1135-azure.svg');
        }

        input[value='Other'] {
          background-image: url('/marketo-inputs/1135-other.svg');
        }
      }
    }

    /**
     ================================
     Marketo: Data Lakehouse Private Preview
     ================================
     */

    form.mktoForm#mktoForm_1315 {
      // Inline radios
      label#LblmiscBlankField18,
      label#LblmiscBlankField21,
      label#LblmiscBlankField22 {
        & + .mktoGutter + .mktoRadioList {
          @apply flex items-center;

          input {
            flex-grow: 0;
            flex-shrink: 0;

            & + label {
              @apply mr-4 w-auto;
              flex-grow: 0;
              flex-shrink: 1;
            }
          }
        }
      }

      // Radio buttons
      label#LblmiscBlankField19,
      label#LblmiscBlankField20 {
        & + .mktoGutter + .mktoRadioList {
          @apply flex flex-row flex-wrap items-stretch gap-4 pt-1;

          &.mktoInvalid {
            input {
              @apply border-danger-200;
            }
          }

          input {
            // Resets
            @apply mr-0 h-auto w-auto bg-transparent checked:bg-none;
            & + label {
              @apply hidden;
            }

            // Spoof buttons
            @apply h-[42px] cursor-pointer rounded border border-neutral-700 bg-neutral-725 transition-colors;
            @apply bg-contain bg-no-repeat;
            @apply hover:border-neutral-600;
            @apply checked:border-primary;
            background-position: center left 0.5rem;
            flex-basis: 100%;
            flex-grow: 0;
            flex-shrink: 1;

            @media (min-width: 420px) {
              flex-basis: calc(50% - 0.5rem);
            }

            &[value='Other'] {
              background-image: url('/marketo-inputs/1315-other.svg');
              background-size: 67.3px;
            }

            &[value='Iceberg'] {
              background-image: url('/marketo-inputs/1315-iceberg.svg');
              background-size: 135.8px;
            }

            &[value='Delta Lake'] {
              background-image: url('/marketo-inputs/1315-delta-lake.svg');
              background-size: 102px;
            }

            &[value='Hudi'] {
              background-image: url('/marketo-inputs/1315-hudi.svg');
              background-size: 61.7px;
            }

            &[value='Unity'] {
              background-image: url('/marketo-inputs/1315-unity.svg');
              background-size: 118.9px;
            }
            &[value='Polaris'] {
              background-image: url('/marketo-inputs/1315-polaris.svg');
              background-size: 131.3px;
            }
            &[value='Glue'] {
              background-image: url('/marketo-inputs/1315-glue.svg');
              background-size: 97.3px;
            }
            &[value='HMS'] {
              background-image: url('/marketo-inputs/1315-hms.svg');
              background-size: 179.1px;
            }
            &[value='Nessie'] {
              background-image: url('/marketo-inputs/1315-nessie.svg');
              background-size: 72px;
            }
          }
        }
      }
    }
  }
}
