<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="clickhouseDataPromise | async as clickhouseData" class="clickhouse">
    <div *ngIf="clickhouseData.hero as hero" class="hero">
      <div class="container">
        <div class="left">
          <div [innerHTML]="hero.title" class="title"></div>
          <div class="description">{{hero.description}}</div>
          <div class="buttons">
            <a *ngIf="hero.mainButton as mainButton"
               [href]=mainButton.href
               [target]="mainButton.target"
               class="main_button">
              <button class="primary_button">{{mainButton.text}}</button>
            </a>

            <a *ngIf="hero.secondaryButton as secondaryButton"
               [href]=secondaryButton.href
               [target]="secondaryButton.target"
               class="secondary_button">
              <button class="primary_button">{{secondaryButton.text}}</button>
            </a>

            <ng-container *ngIf="!hero.secondaryButton">
              <a *ngIf="hero.gitButton as gitButton"
                 [href]=gitButton.href
                 [target]="gitButton.target"
                 class="git_button">
                <button class="primary_button light">
                  <div class="icon_wrapper">
                    <div [strapiCssImage]="theme === 'dark' ? gitButton.darkIconPng : gitButton.lightIconPng"
                         class="icon"></div>
                  </div>
                  <div class="text">{{gitButton.text}}</div>
                </button>
              </a>
            </ng-container>
          </div>
        </div>
        <div class="right">
          <img [src]="hero.backgroundPng | strapiImageUrl" alt="background_image" class="background_image"/>
        </div>
      </div>
    </div>
    <div *ngIf="clickhouseData.features1 as features1" class="features1">
      <div class="container">
        <div class="features_title">{{features1.title}}</div>
        <feature-list [features]="features1.items" class="features"></feature-list>
      </div>
    </div>
    <div *ngIf="clickhouseData.features2 as features2" class="features2">
      <div class="container">
        <div class="section_metadata">
          <div class="pretitle">{{features2.pretitle}}</div>
          <div class="section_title">{{features2.title}}</div>
        </div>
        <div class="features">
          <div *ngFor="let feature of features2.items" class="feature">
            <div class="title">
              <mat-icon [svgIcon]="feature.iconSvg.hash" class="icon"></mat-icon>
              {{feature.title}}
            </div>
            <div class="description">{{feature.description}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="clickhouseData.features3 as features3" class="features3">
      <div class="container">
        <div class="main_item">
          <div class="pretitle">{{features3.pretitle}}</div>
          <div class="title">{{features3.mainItem.title}}</div>
          <div class="description_and_image">
            <div class="description">{{features3.mainItem.description}}</div>
            <div class="image_container">
              <mat-icon [svgIcon]="features3.iconSvg.hash" class="image"></mat-icon>
            </div>

          </div>
        </div>
        <div class="features">
          <div *ngFor="let feature of features3.items" class="feature">
            <div class="title">{{feature.title}}</div>
            <div class="description">{{feature.description}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="clickhouseData.features4 as features4" class="features4">
      <div class="container">
        <div class="section_metadata">
          <div class="pretitle">{{features4.pretitle}}</div>
          <div class="section_title">{{features4.title}}</div>
        </div>
        <div class="features">
          <div *ngFor="let feature of features4.items" class="feature">
            <div class="title">{{feature.title}}</div>
            <div class="description">{{feature.description}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="clickhouseData.features5 as features5" class="features5">
      <div class="container">
        <div class="image_and_content">
          <div class="image_container">
            <mat-icon [svgIcon]="features5.iconSvg.hash" class="image"></mat-icon>
          </div>
          <div class="content">
            <div class="pretitle">{{features5.pretitle}}</div>
            <div class="title">{{features5.title}}</div>
            <div class="description">{{features5.description}}</div>
          </div>
        </div>
        <div class="text_and_features">
          <div class="title">{{features5.second_title}}</div>
          <div class="description">{{features5.description}}</div>
          <div class="features">
            <div *ngFor="let feature of features5.items" class="feature">
              <mat-icon class="icon" svgIcon="check_icon"></mat-icon>
              <div class="text">{{feature.text}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <getting-started></getting-started>
  </div>
</ng-container>
