@import 'colors';
@import 'mixins';

.clickhouse {
  .hero {
    padding-top: 114px;
    padding-bottom: 125px;
    background: linear-gradient(180deg, $gradient1 0%, $gradient2 100%) $bg2;

    @include customBreakpointCss('max-width: 890px') {
      padding: 70px 0;
    }

    & > .container {
      display: flex;

      @include customBreakpointCss('max-width: 890px') {
        justify-content: center;
      }

      .left {
        margin-right: 59px;
        max-width: 55%;

        @include customBreakpointCss('max-width: 890px') {
          margin-right: 0;
          max-width: 100%;
          text-align: center;
        }

        .title {
          font-weight: 700;
          font-size: 58px;
          line-height: 70px;
          margin-bottom: 24px;

          @include customBreakpointCss('max-width: 890px') {
            font-size: 40px;
            line-height: 50px;
          }
        }

        .description {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          max-width: 528px;
          width: 100%;
          color: $fg3;
          margin-bottom: 32px;
          @include customBreakpointCss('max-width: 890px') {
            margin-left: auto;
            margin-right: auto;
          }
        }

        .buttons {
          display: flex;

          @include customBreakpointCss('max-width: 890px') {
            justify-content: center;
          }

          .main_button {
            margin-right: 19px;
            max-width: 199px;
            width: 100%;
          }

          .git_button {
            min-width: 170px;

            .primary_button {
              background: #FFFFFF;
              box-shadow: 0 7.77778px 11.6667px -2.33333px rgba(0, 0, 0, 0.1), 0px 4.66667px 3.11111px -3.11111px rgba(0, 0, 0, 0.1);
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding-left: 0;
              overflow: hidden;

              .icon_wrapper {
                background: #F6F7FA;
                width: 47px;
                height: 47px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;

                .icon {
                  width: 20px;
                  height: 20px;
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center center;
                }
              }
            }
          }

          a {
            display: block;

            .primary_button {
              width: 100%;
              height: 47px;
            }
          }


        }
      }

      .right {
        display: flex;
        align-items: center;

        @include customBreakpointCss('max-width: 890px') {
          display: none;
        }

        .background_image {
          width: 100%;
        }
      }
    }
  }

  .features1 {
    padding: 70px 0;

    .features_title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $primary;
      margin-bottom: 35px;
    }
  }

  .features2 {
    background: $bg2;
    padding: 70px 0;

    & > .container {

      .section_metadata {
        display: flex;
        flex-direction: column;
        align-items: center;

        .pretitle {
          margin-bottom: 12px;
        }

        .section_title {
          margin-bottom: 64px;
        }
      }


      .features {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-column-gap: 148px;
        grid-row-gap: 70px;

        .title {
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          .icon {
            margin-right: 18px;
            width: 36px;
            height: 36px;
            transform: translateY(2px);
          }
        }

        .description {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $fg3;
        }
      }
    }
  }

  .features3 {
    background: $bg1;
    padding: 70px 0;

    & > .container {
      .pretitle {
        margin-bottom: 16px;
      }

      .main_item {
        margin-bottom: 98px;

        .title {
          font-weight: 700;
          font-size: 38px;
          line-height: 46px;
          margin-bottom: 24px;
        }

        .description_and_image {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @include customBreakpointCss('max-width: 890px') {
            grid-template-columns: 1fr;
          }
          align-items: center;

          .description {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $fg1;
            white-space: pre-wrap;
            font-family: 'Inter', sans-serif;
          }

          .image_container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include customBreakpointCss('max-width: 890px') {
              display: none;
            }

            .image {
              height: 100%;
              max-width: 230px;
              width: 100%;
            }
          }
        }
      }

      .features {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        grid-column-gap: 64px;
        grid-row-gap: 64px;

        .title {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 24px;
        }

        .description {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $fg3;
        }
      }
    }
  }

  .features4 {
    background: $bg2;
    padding: 70px 0;

    & > .container {
      .section_metadata {
        .pretitle {
          margin-bottom: 12px;
        }

        .section_title {
          margin-bottom: 48px;
        }
      }


      .features {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-column-gap: 148px;
        grid-row-gap: 70px;

        .title {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 24px;
        }

        .description {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $fg3;
        }
      }
    }
  }

  .features5 {
    background: $bg1;
    padding: 70px 0;

    & > .container {
      .image_and_content {
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        grid-column-gap: 70px;
        margin-bottom: 70px;
        @include customBreakpointCss('max-width: 890px') {
          grid-template-columns: 1fr;
        }

        .image_container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          @include customBreakpointCss('max-width: 890px') {
            display: none;
          }

          .image {
            max-width: 246px;
            height: 100%;
            width: 100%;
          }
        }

        .content {
          .pretitle {
            margin-bottom: 12px;
          }

          .title {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            margin-bottom: 24px;
          }

          .description {
            white-space: pre-wrap;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            font-family: 'Inter', sans-serif;
          }
        }
      }

      .text_and_features {
        .title {
          font-weight: 700;
          font-size: 38px;
          line-height: 46px;
          margin-bottom: 24px;
        }

        .description {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $fg3;
          margin-bottom: 24px;
        }

        .features {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          grid-column-gap: 100px;
          grid-row-gap: 16px;
          max-width: 1085px;

          .feature {
            display: flex;
            align-items: center;

            .icon {
              width: 36px;
              height: 36px;
              margin-right: 16px;
            }

            .text {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

}
