<form (ngSubmit)="onSubmit().then()" [formGroup]="form" class="form">
  <div class="first_and_last_name_inputs">
    <div class="seed_form_element">
      <label class="seed_label">{{contactForm.firstNameLabel}}</label>
      <input class="seed_input" formControlName="firstName" name="firstName" type="text">
      <div *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].touched" class="seed_error">
        Invalid first name
      </div>
    </div>

    <div class="seed_form_element">
      <label class="seed_label">{{contactForm.lastNameLabel}}</label>
      <input class="seed_input" formControlName="lastName" name="lastName" type="text">
      <div *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].touched" class="seed_error">
        Invalid last name
      </div>
    </div>
  </div>

  <div class="seed_form_element">
    <label class="seed_label">{{contactForm.emailLabel}}</label>
    <input class="seed_input" formControlName="email" name="email" type="email">
    <div *ngIf="!form.controls['email'].valid && form.controls['email'].touched" class="seed_error">
      Invalid e-mail address
    </div>
  </div>

  <div class="seed_form_element">
    <label class="seed_label">{{contactForm.companyLabel}}</label>
    <input class="seed_input" formControlName="company" name="company" type="text">
    <div *ngIf="!form.controls['company'].valid && form.controls['company'].touched" class="seed_error">
      Invalid company name
    </div>
  </div>

  <div class="seed_form_element textarea_container">
    <label class="seed_label">{{contactForm.messageLabel}} <span class="optional">(Optional)</span></label>
    <textarea class="seed_input textarea" formControlName="useCase" name="useCase"></textarea>
  </div>

  <div class="bottom">
    <button [disabled]="serverCallInProgress"
            class="submit_button primary_button">{{contactForm.submitButtonLabel}}</button>
    <div [innerHTML]="contactForm.disclaimer" class="disclaimer"></div>
  </div>
</form>

