<div [@enterAnimation] class="testimonial">
  <div [strapiCssImage]="testimonial.avatar" class="avatar" size="small"></div>
  <div class="review">“{{testimonial.review}}”</div>
  <div class="author">{{testimonial.author}}</div>
  <div *ngIf="testimonial.role" class="role">{{testimonial.role}}</div>
  <div class="rating_container">
    <div class="no_rating_stars">
      <mat-icon *ngFor="let star of [1,2,3,4,5]" class="star" svgIcon="star"></mat-icon>
    </div>
    <div [style.width]="getPositiveRatingPercentage(testimonial.rating) + '%'"
         class="actual_rating_stars">
      <mat-icon *ngFor="let star of [1,2,3,4,5]" class="star" svgIcon="star"></mat-icon>
    </div>
  </div>
</div>
