@import 'colors';
@import 'mixins';

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  max-width: 317px;

  .avatar {
    border-radius: 64px;
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .review {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .author {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .role {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $fg3;
  }

  .rating_container {
    // Hiding ratings per Tyler's request
    display: none;
    margin-top: 10px;
    position: relative;

    .star {
      width: 18px;
      height: 18px;
      line-height: 0;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    .no_rating_stars {
      .star {
        color: $fg3;
      }
    }

    .actual_rating_stars {
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 10;

      .star {
        color: $primary;
      }
    }
  }
}
