<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="ourStoryDataPromise | async as ourStoryData" class="our_story">
    <div *ngIf="ourStoryData.hero as hero" class="hero">
      <div class="container">
        <div class="title">{{hero.title}}</div>
        <div class="description">{{hero.description}}</div>
        <img [src]="hero.imagePngUrl | strapiImageUrl" alt="world_map" class="image"/>
        <div class="offices">
          <div *ngFor="let office of hero.offices" class="office">
            <div [strapiCssImage]="office.flagPngUrl" class="flag"></div>
            <div class="name">{{office.name}}</div>
            <div class="location">{{office.location}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="ourStoryData.aboutUs as aboutUs" class="about_us">
      <div class="container">
        <div class="about_us_title">{{aboutUs.title}}</div>
        <div class="items">
          <div *ngFor="let item of aboutUs.items" class="item">
            <div class="content_container">
              <div *ngIf="item.title" class="title">{{item.title}}</div>
              <div *ngIf="item.subtitle" class="subtitle">{{item.subtitle}}</div>
              <div class="description">{{item.description}}</div>
            </div>
            <div class="image_container">
              <img [src]="item.imagePngUrl | strapiImageUrl" alt="company_event_image" class="image"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="ourStoryData.ourHistory as ourHistory" class="our_history">
      <div class="container">
        <div class="title">{{ourHistory.title}}</div>
        <div class="items">
          <div *ngFor="let item of ourHistory.items" class="item">
            <div class="year">{{item.year}}</div>
            <div class="text">{{item.text}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="ourStoryData.hiring as hiring" class="hiring">
      <div class="container">
        <div class="content">
          <div class="title">{{hiring.title}}</div>
          <div class="description">{{hiring.description}}</div>
          <a *ngIf="hiring.ctaButton as ctaButton"
             [href]=ctaButton.href
             [target]="ctaButton.target"
             class="cta_button">
            <button class="primary_button">{{ctaButton.text}}</button>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="ourStoryData.team as team" class="team">
      <div class="container">
        <div class="founders team_section">
          <div class="title">{{team.foundersTitle}}</div>
          <div class="items founders_items">
            <div *ngFor="let item of team.founders" class="item founders_item">
              <div class="content">
                <div [strapiCssImage]="item.profileImagePngUrl" class="avatar founders_avatar"></div>
                <div class="name">{{item.name}}</div>
                <div class="role">{{item.role}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="investors team_section">
          <div class="title">{{team.investorsTitle}}</div>
          <div class="items investors_items">
            <div *ngFor="let item of team.investors" class="item investors_item">
              <div class="content">
                <div [strapiCssImage]="item.profileImagePngUrl" class="avatar investors_avatar"></div>
                <div class="name">{{item.name}}</div>
                <div class="role">{{item.role}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="logos">
          <div *ngFor="let logo of (theme === 'dark' ? team.darkInvestorLogosPngUrls : team.lightInvestorLogosPngUrls)"
               [strapiCssImage]="logo"
               class="logo">
          </div>
        </div>
      </div>
    </div>
    <getting-started></getting-started>
  </div>
</ng-container>
