<div *ngIf="blogPost" class="blog_post_page">
  <div class="main_content">
    <div class="container">
      <div class="section_metadata">
        <div class="category">{{blogPost.category}}</div>
        <div class="title">{{blogPost.title}}</div>
        <div *ngIf="blogPost.author as author" class="author">
          <div [strapiCssImage]="author.avatarPngUrl" class="avatar"></div>
          <div class="content">
            <div class="name">{{author.name}}</div>
            <div class="date">{{blogPost.publishedAt | date}}</div>
          </div>
        </div>
      </div>

      <div class="content_and_share_container">
        <div [innerHTML]="blogPost.content" class="blog_post_content rich_content"></div>

        <div class="share_post_container">
          <div class="left">
            <div class="text">Share this post</div>
          </div>
          <div class="right">
            <div class="buttons">
              <button (click)="copyToClipboard()" class="copy_link_button stroked_button">
                <mat-icon class="icon" svgIcon="copy_link"></mat-icon>
                Copy link
              </button>

              <a [href]="getTwitterLink()" class="icon_button_container" target="_blank">
                <button class="icon_button stroked_button">
                  <mat-icon class="icon" svgIcon="twitter"></mat-icon>
                </button>
              </a>

              <a [href]="getFacebookLink()" class="icon_button_container" target="_blank">
                <button class="icon_button stroked_button">
                  <mat-icon class="icon" svgIcon="facebook"></mat-icon>
                </button>
              </a>

              <a [href]="getLinkedinLink()" class="icon_button_container" target="_blank">
                <button class="icon_button stroked_button">
                  <mat-icon class="icon" svgIcon="linkedin"></mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>

        <newsletter-form></newsletter-form>
      </div>
    </div>
  </div>
  <div class="recent_posts">
    <div class="container">
      <div class="section_metadata">
        <div class="title">Recent posts</div>
        <a class="all_posts_button" href="/blog">
          <button class="empty_button">
            All posts
            <mat-icon class="icon" svgIcon="right_arrow"></mat-icon>
          </button>
        </a>
      </div>
      <div class="posts">
        <a *ngFor="let post of getOtherBlogPosts()"
           [href]="'/blog/'+post.id"
           class="post">
          <div [strapiCssImage]="post.thumbnailPngUrl" class="thumbnail"></div>
          <div class="category">{{post.category}}</div>
          <div class="title">{{post.title}}</div>
        </a>
      </div>
    </div>
  </div>

  <getting-started></getting-started>
</div>
