<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="customerStoriesDataPromise | async as customerStoriesData" class="customer_stories">
    <div *ngIf="customerStoriesData.hero as hero" class="hero">
      <div class="container">
        <div class="section_metadata">
          <div class="title">{{hero.title}}</div>
          <div class="description">{{hero.description}}</div>
        </div>

        <div class="testimonials_container">
          <div class="carousel_left_arrow_container carousel_arrow_container">
            <mat-icon (click)="previousPage()" *ngIf="paginationEnabled" class="icon"
                      svgIcon="carousel_left_arrow"></mat-icon>
          </div>
          <div class="carousel">
            <customer-stories-testimonial *ngFor="let testimonial of getCurrentTestimonialsPage()"
                                          [testimonial]="testimonial">
            </customer-stories-testimonial>
          </div>
          <div class="carousel_right_arrow_container carousel_arrow_container">
            <mat-icon (click)="nextPage()" *ngIf="paginationEnabled" class="icon"
                      svgIcon="carousel_right_arrow"></mat-icon>
          </div>
        </div>

        <div class="all_testimonials_container">
          <customer-stories-testimonial *ngFor="let testimonial of allTestimonials"
                                        [testimonial]="testimonial"
                                        class="testimonial">
          </customer-stories-testimonial>
        </div>
      </div>
    </div>
    <div *ngIf="customerStoriesData.useCases as useCases" class="use_cases">
      <div class="container">
        <div class="section_metadata">
          <div class="title">{{useCases.title}}</div>
          <div class="description">{{useCases.description}}</div>
        </div>
        <div *ngIf="customerStoriesData.spotlightUseCase as spotlight" [id]="spotlight.anchorId" anchor
             class="spotlight use_case">
          <div class="left">
            <div class="pretitle">{{useCases.spotlightTitle}}</div>
            <div class="company_name">{{spotlight.companyName}}</div>
            <div class="description">{{spotlight.description}}</div>
            <a *ngIf="spotlight.ctaButton as ctaButton"
               [href]=ctaButton.href
               [target]="ctaButton.target"
               class="cta_button">
              <button class="primary_button">
                {{ctaButton.text}}
                <mat-icon class="icon" svgIcon="carousel_right_arrow"></mat-icon>
              </button>
            </a>
          </div>

          <div class="right">
            <div [ngClass]="{dark: theme === 'dark', light: theme === 'light'}" class="hexagon">
              <img [src]="(theme === 'dark' ? spotlight.darkLogoPng.url : spotlight.lightLogoPng.url) | strapiImageUrl"
                   alt="logo"
                   class="logo"/>
            </div>
          </div>
        </div>
        <div class="other_use_cases">
          <div *ngFor="let useCase of customerStoriesData.useCaseItems" [id]="useCase.anchorId" anchor class="use_case">
            <img [src]="(theme === 'dark' ? useCase.darkLogoPng.url : useCase.lightLogoPng.url) | strapiImageUrl"
                 alt="logo"
                 class="logo"/>
            <div class="description">{{useCase.description}}</div>
            <div class="bullets">
              <div *ngFor="let bullet of useCase.bullets" class="bullet">
                <mat-icon class="icon" svgIcon="star"></mat-icon>
                {{bullet.text}}
              </div>
            </div>
            <a *ngIf="useCase.ctaButton as ctaButton"
               [href]=ctaButton.href
               [target]="ctaButton.target"
               class="cta_button">
              <button class="primary_button">
                {{ctaButton.text}}
                <mat-icon class="icon" svgIcon="carousel_right_arrow"></mat-icon>
              </button>
            </a>

          </div>
        </div>
      </div>
    </div>
    <getting-started></getting-started>
  </div>
</ng-container>
