<div *ngIf="item" class="news_item">
  <div class="publication_and_date">
    {{item.publication}} • {{item.date}}
  </div>
  <div class="headline">{{item.headline}}</div>
  <div class="short_intro">{{item.shortIntro}}</div>
  <a *ngIf="item.ctaButton as ctaButton"
     [href]="ctaButton.href"
     [target]="ctaButton.target"
     class="cta_button">
    <button class="empty_button">
      {{ctaButton.text}}
      <mat-icon class="icon" svgIcon="right_arrow"></mat-icon>
    </button>
  </a>
</div>
