@import 'colors';
@import 'mixins';

.news_item {
  .publication_and_date {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $fg3;
    margin-bottom: 8px;
  }

  .headline {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .short_intro {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
  }

  .cta_button {
    .empty_button {
      color: $primary;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      .icon {
        margin-left: 10px;
        width: 16px;
        height: 16px;
        line-height: 0;
      }
    }
  }
}
