<a id="getting_started" style="visibility: hidden"></a>
<div *ngIf="gettingStartedDataPromise | async as gettingStarted" class="getting_started dark">
  <div class="container">
    <div class="section_metadata">
      <div class="pretitle">{{gettingStarted.pretitle}}</div>
      <div class="section_title">{{gettingStarted.title}}</div>
      <div class="section_description">{{gettingStarted.description}}</div>
    </div>
    <div class="buttons">
      <div class="stroked_button_wrapper_with_chevron">
        <div class="chupchik1"></div>
        <div class="chupchik2"></div>
        <a *ngIf="gettingStarted.quickStartButton as button"
           [href]="button.href"
           [target]="button.target"
           class="stroked_button_wrapper button_wrapper">

          <button class="stroked_button">
            {{button.text}}
          </button>
        </a>
      </div>
      <a *ngIf="gettingStarted.cloudButton as button"
         [href]="button.href"
         [target]="button.target"
         class="button_wrapper">
        <button class="primary_button">
          {{button.text}}
        </button>
      </a>
    </div>

    <mat-tab-group (selectedTabChange)="undefined"
                   animationDuration="0ms"
                   class="platforms">
      <mat-tab *ngFor="let platform of gettingStarted.platforms" [label]="platform.name"
               class="instructions_wrapper">
        <div class="instructions">{{platform.instructions}}</div>
      </mat-tab>
    </mat-tab-group>
    <div [innerHTML]="gettingStarted.bottomText" class="bottom_text"></div>
  </div>
</div>
