<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="richContentPageDataPromise | async as richContentPage" class="rich_content_page">
    <div class="hero">
      <div class="container">
        <div class="title">{{richContentPage.title}}</div>
      </div>
    </div>
    <div class="content_container">
      <div class="container">
        <div [innerHTML]="richContentPage.content | markdown" class="rich_content"></div>
      </div>

      <div *ngIf="RichContentPageData.left_content" class="two_column_container">
        <div [innerHTML]="richContentPage.left_content | markdown" class="rich_content"></div>
        <div [innerHTML]="richContentPage.right_content | markdown" class="rich_content"></div>
      </div>
      
      <div *ngIf="RichContentPageData.full_width_content" class="container">
        <div [innerHTML]="richContentPage.full_width_content | markdown" class="rich_content"></div>
      </div>
      
    </div>
  </div>
</ng-container>
