@import 'colors';
@import 'mixins';

.growing_community {
  background: $bg2;
  padding-top: 70px;
  padding-bottom: 70px;

  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 44px;

    @include customBreakpointCss('max-width: 650px') {
      font-size: 21px;
      text-align: center;
    }
  }

  .logos {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
    grid-gap: 32px;
    display: grid;

    .logo_container {
      background: $bg1;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 23px;
      box-sizing: border-box;
      transition: box-shadow 400ms;

      &:hover {
        box-shadow: 0 10px 54px -3px rgba(0, 0, 0, 0.1), 0px 6px 44px -6px rgba(0, 0, 0, 0.1);
      }

      .logo {
        width: 46px;
        height: 46px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
