<ng-container *ngIf="themeObs | async as theme">
  <div *ngIf="serviceUnavailableCountryDataPromise | async as serviceUnavailableCountryData" class="service_unavailable_country">
    <div *ngIf="serviceUnavailableCountryData.card as card" class="card">
      <div class="card_container">
          <div class="section_metadata">
            <mat-icon [svgIcon]="card.iconSvg.hash" class="icon"></mat-icon>
            <div class="title">{{card.title}}</div>
            <div class="description">{{card.description}}</div>
          </div>
          <div class="contact_form">
            <form (ngSubmit)="onSubmit().then()" [formGroup]="form" class="form">
              <div class="email">
                <label class="seed_label">{{card.contactForm.emailLabel}}</label>
                <input class="seed_input email_input" formControlName="email" name="email" type="email">
                <div *ngIf="!form.controls['email'].valid && form.controls['email'].touched" class="seed_error">
                  Invalid e-mail address
                </div>
                <div *ngIf="submitSuccessfully" class="seed_success">
                  <p></p>
                  <p>{{card.contactForm.success}}</p>
                </div>
              </div>
              <div class="bottom">
                <div [innerHTML]="card.contactForm.tosCheckboxRichText| markdown" class="disclaimer"></div>
                <button
                [disabled]="serverCallInProgress"
                        class="submit_button primary_button">{{card.ctaButton.text}}</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div class="platforms_links dark">
      <div class="container">
        <div class="title">{{serviceUnavailableCountryData.install_oss.title}}</div>
        <mat-tab-group (selectedTabChange)="undefined"
        animationDuration="0ms"
        class="platforms">
          <mat-tab *ngFor="let platform of serviceUnavailableCountryData.install_oss.platforms" [label]="platform.name"
          class="instructions_wrapper">
          <div class="instructions">{{platform.instructions}}</div>
          </mat-tab>
        </mat-tab-group>
        <div [innerHTML]="serviceUnavailableCountryData.install_oss.alternatives | markdown" class="alternatives"></div>
      </div>
    </div>
  </div>
</ng-container>
