@import 'colors';
@import 'mixins';

.service_unavailable_country {
  .card {
    background: $bg1;
    padding-top: 70px;
    padding-bottom: 70px;

    .section_metadata {
      text-align: center;

      .icon {
        width: 34px;
        height: 34px;
        margin: 10px 0;
      }

      .title {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 12px;
      }

      .description {
        color: $fg3;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 36px;
      }
    }

    .card_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px 39px;
      background: $bg1;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 6px 4px -4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 108px;
    }

    .email_input {
      width: 100%;
    }

    .submit_button {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .seed_error {
      font-size: 14px;
      color: #f44336;
      margin-top: 4px;
    }

    .seed_success {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      margin: 12px 0;

      background: #E6F9F4;
      border-radius: 8px;

      flex: none;
      order: 2;
      align-self: stretch;
      flex-grow: 0;

      font-weight: 600;
      font-size: 14px;
    }

    .seed_label, label {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $fg1;
      margin-bottom: 12px;
      display: block;
    }

    .contact_form {
      ::ng-deep {
        .primary_button {
          max-width: 286px;
          width: 100%;
        }
      }
    }

    .disclaimer {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin: 12px 0;
      color: $fg3;

      ::ng-deep {
        a {
          color: $primary;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .platforms_links {
    background: $bg3;
    padding-top: 70px;
    padding-bottom: 70px;
    ::ng-deep {
      .title {
        font-weight: 700;
        font-size: 28px;
        text-align: center;
      }
    }
  }

  .platforms {
    margin-top: 49px;
    background: $bg4;
    color: $fg1;
    border: 1px solid $bg5;
    border-radius: 8px;
    margin-bottom: 24px;

    ::ng-deep {

      .mat-tab-header-pagination-chevron {
        border-color: $fg1;
      }

      .mat-tab-labels {
        justify-content: flex-start;
        padding: 0 37px;
      }

      .mat-tab-header {
        border-bottom: 1px solid $bg3;
      }

      .mat-tab-label {
        min-width: 0 !important;
        padding: 0 !important;
        opacity: 1;

        &:not(:last-child) {
          margin-right: 54px;
        }

        .mat-tab-label-content {
          color: $fg1;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }


    .instructions {
      padding: 23px 37px;
      box-sizing: border-box;
      min-height: 282px;
      font-family: monospace, sans-serif;
      white-space: pre-wrap;
    }
  }
}

.alternatives {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  ::ng-deep {
    color: $fg1;

    a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
