// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'node_modules/@angular/material' as mat;
// Plus imports for other components in your app.
@use 'node_modules/@angular/material/theming' as theming;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.core();
@import '~@angular/material/theming';
@import 'mixins';
@import 'colors';
@import 'highlightjs';

//noinspection CssInvalidFunction
$custom-typography: mat-typography-config(
  $font-family: 'Inter'
);

//noinspection SassScssResolvedByNameOnly
@include angular-material-typography($custom-typography);

$clickhouse-palette: (
  50: #FFF9E0,
  100: #FFF0B3,
  200: #FFE680,
  300: #FFDB4D,
  400: #FFD426,
  500: #FFB200,
  600: #FFC700,
  700: #FFC000,
  800: #FFB900,
  900: #DB8300,
  A100: #FFFFFF,
  A200: #FFFAF2,
  A400: #FFE8BF,
  A700: #FFDFA6,
  contrast: (
    50: theming.$dark-primary-text,
    100: theming.$dark-primary-text,
    200: theming.$dark-primary-text,
    300: theming.$dark-primary-text,
    400: theming.$dark-primary-text,
    500: theming.$light-primary-text,
    600: theming.$dark-primary-text,
    700: theming.$light-primary-text,
    800: theming.$light-primary-text,
    900: theming.$light-primary-text,
    A100: theming.$dark-primary-text,
    A200: theming.$light-primary-text,
    A400: theming.$light-primary-text,
    A700: theming.$light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat.define-palette($clickhouse-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$web-warn: mat.define-palette(mat.$red-palette);

$web-theme: mat.define-light-theme((
  color: (
    primary: $web-primary,
    accent: $web-accent,
    warn: $web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($web-theme);


html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  background-color: $bg2;
  color: $fg1;
  transition: background 200ms, color 200ms;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: $fg1;
}

button {
  font-family: Inter, sans-serif;
}

.container {
  max-width: calc(1280px + (32px * 2));
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: 32px;
  padding-left: 32px;
}

.button {
  border-radius: 8px !important;
  font-weight: 600;
  font-size: 14px;
  height: 39px;
  min-width: auto;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  transition: all 150ms;
  opacity: 1;
  border: none;

  &:hover {
    text-decoration: underline;
    transform: translateY(-3px);
  }

  &:active {
    filter: brightness(90%);
  }

  &:disabled {
    filter: brightness(50%);
    cursor: default;

    &:hover {
      text-decoration: auto;
      transform: none;
    }
  }
}

.primary_button {
  @extend .button;
  background: $primary;
  color: $fg2;
}

.stroked_button {
  @extend .button;
  background: transparent;
  border: 1px solid $primary;
  color: $fg2;
}

.empty_button {
  @extend .button;
  font-weight: 500;
  background: transparent;
  color: $fg1;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.mat-menu-panel {
  margin-top: 12px;
  margin-left: -30px;
  background: $bg1;
  color: $fg1;
  max-width: initial !important;

  .mat-menu-content:not(:empty) {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 8px;
    overflow: hidden;
  }
}

svg {
  fill: currentColor;
}

.gradient_title {
  background-image: linear-gradient(to bottom, #ffc700, #ff7a00);
  -webkit-background-clip: text;
  //noinspection CssInvalidPropertyValue
  background-clip: text;
  color: transparent;
}

.seed_form_element {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  .seed_label, label {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $fg1;
    margin-bottom: 12px;
    display: block;
  }

  input, textarea {
    @extend .seed_input;
  }

  .seed_input_icon {
    position: absolute;
    top: 27px;
    right: 2px;
    z-index: 10;

  }

  .seed_error {
    font-size: 12px;
    color: #f44336;
    margin-top: 4px;
  }

  input:-webkit-autofill, .seed_input:-webkit-autofill,
  input:-webkit-autofill:hover, .seed_input:-webkit-autofill:hover,
  input:-webkit-autofill:active, .seed_input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #FCFCFC inset !important;
  }

  input:-webkit-autofill:focus, .seed_input:-webkit-autofill:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -2px 0px #FFB200 !important;
  }
}

.seed_input {
  position: relative;
  z-index: 1;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  min-height: 41px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid $bg7;
  transition-property: background-image, background-size, background-color;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 300ms;
  background-color: $bg8;
  color: $fg1;
  background-size: 0, 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, #ffb200, #ffb200 2px, transparent 0, transparent);

  &.textarea {
    padding: 10px;
  }

  &:focus, &.active {
    outline: none;
    background-size: 100%, 100%;
    background-color: $bg1;

  }
}

.mat-simple-snackbar-action {
  color: $primary;
}

.pretitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $primary;
}

.section_title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  @include customBreakpointCss('max-width: 890px') {
    font-size: 20px;
    line-height: 24px;
  }
}

.section_description {
  color: $fg3;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  @include customBreakpointCss('max-width: 890px') {
    font-size: 16px;
    line-height: 24px;
  }
}

.rich_content {
  $commonMarginBottom: 36px;

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: $commonMarginBottom;
    }

    margin-bottom: $commonMarginBottom;
  }

  .code-with-play {
    background-color: $constDark;
    border-radius: 8px;
    padding: 24px;
    color: $constWhite;
    display: flex;
    position: relative;
    white-space: pre-wrap;

    .code {
      margin-top: -24px;
      max-width: 98%;
      overflow-wrap: break-word;
    }

    .play-ui {
      height: 32px;
      width: 32px;
      text-align: center;
      line-height: 1.3;
      position: absolute;
      font-size: 24px;
      top: 20px;
      right: 24px;
      color: $constWhite;
      background: rgba(0,0,0,0.8);
      border-radius: 8px;

      &:hover {
        background: rgba(80,80,80,0.4);
        transition: background 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }

  table {
    text-align: left;
    border: 1px solid $bg3;
    width: 100%;
    border-radius: 8px;

    th {
      border-bottom: 1px solid $bg2;
      padding: 15px;
      font-weight: bold;
    }

    td {
      padding: 15px;
    }
  }

  code {
    background: $bg2;
    color: $primaryCode;
    border: 1px solid #E8EAEE;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 2px;
    border-radius: 2px;
  }

  pre {
    code {
      box-sizing: border-box;
      padding: 20px;
      width: 100%;
      background: $constDark;
      color: $constWhite;
      border-radius: 8px;
      border: 1px solid $bg3;
      white-space: pre-wrap;
      display: block;
      font-family: monospace, sans-serif;
      margin-bottom: $commonMarginBottom;
      word-break: break-all;
      overflow-wrap: break-word;
    }
  }


  ul, ol {
    margin-left: 26px;
    margin-bottom: $commonMarginBottom;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  blockquote {
    box-sizing: border-box;
    padding-left: 16px;
    border-left: 4px solid #CBEABC;
    color: $fg3;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: $commonMarginBottom;
  }

  img {
    max-width: 100%;
  }

  p {
    &:not(:last-child) {
      margin-bottom: $commonMarginBottom;
    }
  }

  a {
    color: $primaryLink;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Firefox doesn't support backdrop-filter
@-moz-document url-prefix() {
  .header {
    background: $bg1 !important;
  }
}

// Cookie consent overrides

#ot-sdk-btn {
  display: none;
}

#onetrust-consent-sdk #onetrust-banner-sdk {
  background: $bg4;
 
  &.otFloatingRoundedIcon {
    left: 0%;
    margin: 0 auto;
  
    .banner-content {
      padding: 12px 0; 
    }
  }
}

#onetrust-cookie-btn-container {
  display: none; // may not be allowed to do this
}

#onetrust-accept-btn-container, 
#onetrust-reject-btn-container,
#onetrust-pc-btn-container {
  #onetrust-accept-btn-handler, 
  #onetrust-reject-all-handler,
  #onetrust-pc-btn-handler {
    font-size: 14px;
    border-radius: 8px;
    padding: 6px 10px;
  }
}