.angledBackground {
  --angle-width: min(22vw, 320px);
  clip-path: polygon(var(--angle-width) 0, 100% 0, 100% 100%, 0 100%);
  left: calc(0px - var(--angle-width));
}

.quotesMask {
  @screen sm {
    mask-image: linear-gradient(90deg, transparent 0%, #000 2rem, #000 calc(100% - 2rem), transparent 100%);
  }
}

