@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'node_modules/aos/src/sass/aos.scss';
$aos-distance: 12px; // It has to be above import

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply mx-auto;
}

* {
  box-sizing: border-box;
}

.feature-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 space-y-4 md:space-y-0 gap-y-10 gap-x-12;
}

.large-feature-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 space-y-4 md:space-y-0 gap-y-10 gap-x-12;
}

.feature-icon {
  @apply w-9 h-9 flex items-center text-white;
}

.gradient_title {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-gradientTop to-gradientBottom;
}


.rich_content {
  h1, h2, h3, h4, h5, h6 {
    @apply mb-9;
    &:not(:first-child) {
      @apply mt-9;
    }
  }

  .code-with-play {
    @apply bg-raisin_black text-white flex relative whitespace-pre-wrap rounded-lg;
    padding: 24px;

    .code {
      margin-top: -24px;
      max-width: 98%;
      overflow-wrap: break-word;
    }

    .play-ui {
      @apply text-white rounded-lg;
      height: 32px;
      width: 32px;
      text-align: center;
      line-height: 1.3;
      position: absolute;
      font-size: 24px;
      top: 20px;
      right: 24px;
      background: rgba(0,0,0,0.8);

      &:hover {
        background: rgba(80,80,80,0.4);
        transition: background 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }

  table {
    @apply text-left w-full rounded-lg;
    @apply border border-solid border-arsenic dark:border-arsenic;

    th {
    @apply border border-solid border-cultured dark:border-onyx;
      @apply font-bold p-4;
      font-weight: bold;
    }

    td {
      padding: 15px;
    }
  }

  code {
    @apply bg-cultured text-web-light-c4 dark:bg-onyx dark:text-primary;
    @apply border border-solid;
    border: 1px solid #E8EAEE;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 2px;
    border-radius: 2px;
  }

  pre {
    code {
      box-sizing: border-box;
      padding: 20px;
      @apply mb-9 w-full;
      @apply bg-raisin_black text-white rounded-lg whitespace-pre-wrap block;
      
      @apply border border-solid border-arsenic dark:border-arsenic;
      font-family: monospace, sans-serif;
      word-break: break-all;
      overflow-wrap: break-word;
    }
  }


  ul, ol {
    margin-left: 26px;
      @apply mb-9;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  blockquote {
    box-sizing: border-box;
    padding-left: 16px;
    border-left: 4px solid #CBEABC;
    @apply text-web-light-c4 dark:text-web-light-c4;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
      @apply mb-9;
  }

  img {
    max-width: 100%;
  }

  p {
    &:not(:last-child) {
      @apply mb-9;
    }
  }

  a {
    @apply text-text-warning dark:text-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

