.rich_content_page {
  .hero {
    padding: 70px 0;

    .container {
      @apply flex items-center justify-center font-bold text-center;
      font-size: 54px;
      line-height: 70px;
      max-width: 1000px;
    }
  }

  .content_container {
    padding-bottom: 70px;
  }

  .full_width_content {
    margin: 70px auto;
  }

  .two_column_container {
    margin-top: 70px;
    @apply flex flex-col items-start justify-center md:flex-row;
    flex-direction: column;

    .column_content {
      @apply w-full md:w-1/2;
    }
    column-gap: 5%;
  }
}
