//securiti ai cookie
.cmp-modal {font-weight: normal !important;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.cmp-modal h1 {@apply font-basier antialiased;}
.atabs__panel {@apply pt-0}
.cmp-modal__sub-title {@apply font-inter text-sm;}

.cmp-accordion p {@apply text-sm;}
.cmp-tabs__title {@apply text-2xl font-semibold}
.cmp-tabs__sub-title {@apply text-base capitalize mb-2}
.cmp-accordion__title {@apply text-base text-primary-300}
.cmp-accordion__sub-title {@apply text-sm}
.cmp-save-btn {@apply rounded-sm; }
.cmp-modal__footer .cmp-save-btn, .cmp-modal__footer .cmp-decline-btn {height: auto !important;}
.cc-message {padding: 15px !important}
.cc-compliance {color: #fff !important; font-weight: normal !important;}
.cc-btn {font-size: 13px !important; color: #fff !important; font-weight: normal !important;}

.cc-btn.cc-allow {
    background-color: rgb(23, 103, 54) !important;
    color: #fff !important;
    font-weight: normal !important;
    margin: 0 15px !important;
    font-size: 16px !important;
    border: none !important;
}

#securitiCmpCookiePrefBtn {font-weight: normal !important;}

.cc-btn.cc-allow:hover {
    background-color: rgb(15, 67, 35) !important;
}

.cmp-revoke-consent {position: initial !important; padding: 0 !important;}