.toolbar {
  background: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  padding: 0.5rem;
  height: 4rem;
  backdrop-filter: blur(16px);
  position: sticky;
  top: 0;
  z-index: 50;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.container {
  display: flex;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.25rem;
  width: 100%;
  max-width: 80rem;
}
.container > div{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.linksContainer {
  display: flex;
  justify-content: center;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    padding-top: 0;
  }
  .logo {
    width: 25%;
  }
  .linksContainer {
    width: 50%;
  }
  .links {
    justify-content: start;
  }
}
