@import 'colors';
@import 'mixins';

.newsletter_form_container {
  width: 100%;
  padding: 32px 26px;
  box-sizing: border-box;
  background: $bg2;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;

  @include customBreakpointCss('max-width: 890px') {
    display: block;
  }

  .text_container {
    flex: 0 0 calc(50% - 36px);
    margin-right: 36px;

    @include customBreakpointCss('max-width: 890px') {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    .description {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $fg3;
    }
  }

  .form_container {
    flex: 0 0 50%;

    .input_and_button_container {
      display: flex;
      align-items: center;
      @include customBreakpointCss('max-width: 500px') {
        display: block;
      }

      .email_input {
        height: 41px;
        padding: 0 10px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        outline: none;
        margin-right: 24px;
        background-color: $bg1;
        width: 65%;

        @include customBreakpointCss('max-width: 890px') {
          width: auto;
        }

        @include customBreakpointCss('max-width: 500px') {
          width: 100%;
          margin-bottom: 24px;
        }
      }

      .primary_button {
        display: block;
        height: 43px;

        @include customBreakpointCss('max-width: 500px') {
          height: 33px;

        }
      }
    }
  }
}

