<div *ngIf="newsletterFormDataPromise | async as newsletterForm" class="newsletter_form_container">
  <div class="text_container">
    <div class="title">{{newsletterForm.title}}</div>
    <div class="description">{{newsletterForm.description}}</div>
  </div>
  <div class="form_container">
    <div class="input_and_button_container">
      <input [(ngModel)]="newsletterEmail" [placeholder]="newsletterForm.emailLabel"
             class="email_input seed_input"
             type="email"/>
      <button (click)="submitNewsletterForm()"
              class="primary_button">{{newsletterForm.submitButtonLabel}}</button>
    </div>
  </div>
</div>
